@model portal.Models.Views.AP.Document.DocumentFormViewModel
@{
    var seq = Model.Sequences.List.FirstOrDefault();
}
<div class="row validationContaner">
    <div class="col-xl-9">
        @if (Model.Document.Status == DB.APDocumentStatusEnum.New)
        {
            @Html.Partial("../AP/Document/Header/Panel", Model)
        }
        else
        {
            @Html.Partial("../AP/Document/Wizard/Panel", Model)
        }
        <div class="forum">
            @Html.Partial("../Forum/Panel", Model.Forum)
        </div>
    </div>
    <div class="col-xl-3">
        @Html.Partial("../AP/Document/StatusLog/Panel", Model.StatusLogs)
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        @Html.Partial("../AP/Document/Preview", Model.Document)
    </div>
</div>
