@model portal.Models.Views.SM.Request.ServiceRequestListViewModel

@{
    if (ViewBag.LayOut != null)
    {
        Layout = ViewBag.LayOut;
    }
    ViewBag.Title = "Service Request";
}

@section styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    @Styles.Render("~/csspage/inputcontrols")
}

@if (ViewBag.LayOut == null)
{
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = "" })">Home</a></li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
    <h1 class="page-header">@ViewBag.Title </h1>
}
@Html.Partial("../SM/Request/Summary/List/PartialIndex", Model)

@section scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    @Scripts.Render("~/jspage/inputcontrols")
}


