@model portal.Models.Views.Web.ErrorLogListViewModel
@{
    var tableId = string.Format("table_{0}", Guid.NewGuid());
}

<div class="row">
    @Html.EditorFor(m => m.Status)
</div>
<br />
<table class="table"
       id="@tableId"
       data-status="@((int)Model.Status)"
       data-dataurl="@Url.Action("Data", ViewBag.Controller, routeValues: new { Area = "" })"
       data-urlselect="@Url.Action("Form", ViewBag.Controller, routeValues: new { Area = "" })"
       data-dstselect="reviewPanel"
       data-dstselectvalidate="false">
    <thead>
        <tr>
            <th data-datatable-filter-type="select" width="100px">@Html.LabelForRequired(model => model.List.FirstOrDefault().Controller)</th>
            <th data-datatable-filter-type="select">@Html.LabelForRequired(model => model.List.FirstOrDefault().Action)</th>
            <th data-datatable-filter-type="select">@Html.LabelForRequired(model => model.List.FirstOrDefault().LogDate)</th>
            <th data-datatable-filter-type="select">@Html.LabelForRequired(model => model.List.FirstOrDefault().User)</th>
            <th data-datatable-filter-type="input" width="60px">@Html.LabelForRequired(model => model.List.FirstOrDefault().ErrorId)</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        @*$('#@tableId thead tr:eq(1) th').each(function (i) {
            $(':Input', this).on('keyup change', function () {
                var value = this.value;
                if (table.column(i).search() !== value) {
                    table
                        .column(i)
                        .search("^" + value, true, false, true)
                        .draw();
                }
            });
        });*@
        var panel = $("#@tableId").closest('.panel').first();
        var tableElem = $('#@tableId');
        var h = $("body").height();
        h -= $(panel).height();
        h -= $(tableElem).find('thead').height();
        h -= 130;


        var table = $('#@tableId').DataTable({
            rowsGroup: [0, 1],
            orderCellsTop: true,
            //autoWidth: true,
            paging: false,
            pageLength: 25,
            scrollY: 250,
            //scrollX: true,
            ordering: true,
            processing: true,
            'language': {
                'loadingRecords': 'Loading....',
                'processing': '<span class="spinner-small"></span>'
            },
            ajax: {
                "url": $('#@tableId').data('dataurl'),
                data: function (d) {
                    d.status = $('#@tableId').attr('data-status');
                },
               "type": "GET",
               "datatype": "json",
            },
            order: [
                [0, "asc"],
                [1, "asc"],
                [2, "desc"],
                [3, "asc"],
            ],
            fnInitComplete: function () {
                $('#@(tableId)_filter').hide();
                Table().init($('#@tableId'));
            },
            columns: [
                { data: "Controller" },
                { data: "Action" },
                { data: "LogDateString" },
                { data: "User.FullName" },
                { data: "ErrorId" },
                //{ data: "CreatedUser.FullName" }
            ],
            //columnDefs: [
            //    { targets: [2], render: $.fn.dataTable.render.moment('MM/DD/YYYY') },
            //],
            createdRow: function (row, data, dataIndex) {
                var rowKey = "errorId=" + data.ErrorId;
                $(row).attr('data-entitykey', rowKey);
            }
        });
        $('.selectpicker').selectpicker();
    });

    $(document).on('change', '[name="Status"]', function () {
        var table = $('#@tableId');
        $(table).attr('data-status', $(this).val());
        $('#@tableId').DataTable().ajax.reload();
    })
    //function toggleSelectAll(control) {
    //    var allOptionIsSelected = (control.val() || []).indexOf("All") > -1;
    //    function valuesOf(elements) {
    //        return $.map(elements, function (element) {
    //            return element.value;
    //        });
    //    }

    //    if (control.data('allOptionIsSelected') != allOptionIsSelected) {
    //        // User clicked 'All' option
    //        if (allOptionIsSelected) {
    //            // Can't use .selectpicker('selectAll') because multiple "change" events will be triggered
    //            control.selectpicker('val', valuesOf(control.find('option')));
    //        } else {
    //            control.selectpicker('val', []);
    //        }
    //    } else {
    //        // User clicked other option
    //        if (allOptionIsSelected && control.val().length != control.find('option').length) {
    //            // All options were selected, user deselected one option
    //            // => unselect 'All' option
    //            control.selectpicker('val', valuesOf(control.find('option:selected[value!="All"]')));
    //            allOptionIsSelected = false;
    //        } else if (!allOptionIsSelected && control.val().length == control.find('option').length - 1) {
    //            // Not all options were selected, user selected all options except 'All' option
    //            // => select 'All' option too
    //            control.selectpicker('val', valuesOf(control.find('option')));
    //            allOptionIsSelected = true;
    //        }
    //    }
    //    control.data('allOptionIsSelected', allOptionIsSelected);
    //}
</script>