<!DOCTYPE html>
<html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>@ViewBag.Title </title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/assets/img/logo/favicon.png">
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    @Styles.Render("~/cssbase/font-google")
    @Styles.Render("~/cssbase/theme")
    @Styles.Render("~/cssbase/style")
    <link href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous" rel="stylesheet">
    @*@Styles.Render("~/cssbase/font-awesome")*@
    @Styles.Render("~/cssbase/notifications")
    <link href="~/Content/assets/plugins/dropzone/min/dropzone.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    @Scripts.Render("~/jsbase/pageloader")
    @Scripts.Render("~/jsbase/jquery")
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <div id="page-container" class="fade">
        <div id="content" class="p-0">
            @Html.AntiForgeryToken()
            @RenderBody()
        </div>
        <div class="ControllerId">
            <input type="hidden" id="controllerTokenId" name="controllerTokenId" value="@ViewBag.ControllerActionToken">
        </div>
    </div>

    <!-- ================== BEGIN BASE JS ================== -->
    @Scripts.Render("~/jsbase/bootstrap")
    <!--[if lt IE 9]>
        @Scripts.Render("~/jsbase/ie9")
    <![endif]-->
    @Scripts.Render("~/jsbase/slimScroll")
    @Scripts.Render("~/jsbase/lsCache")
    @Scripts.Render("~/jsbase/jscookie")
    @Scripts.Render("~/jsbase/theme")
    @Scripts.Render("~/jsbase/notifications")
    @Scripts.Render("~/jsbase/inputmask")
    <script src="~/Content/assets/plugins/dropzone/min/dropzone.min.js"></script>
    <script src="~/Content/assets/plugins/jstree/jstree.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACLxAZGOMS6O8Ia4K1UYPTStNt28OVpJ4"></script>
    }
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    @RenderSection("scripts", required: false)
    <!-- ================== END PAGE LEVEL JS ================== -->
    @*<script src="https://cdn.jsdelivr.net/npm/javascript-obfuscator/dist/index.browser.min.js"></script>*@
<script>
        $(document).ready(function () {
            var controllerToken = $(document).find('#controllerTokenId')[0];
            App.init();
            App.initControllerToken(controllerToken);
        });
        function LogOff() {
            var url = '@Url.Action("LogOff", "Account")'
            $.post(url).done(function (res) {
                window.location.href = res.url;
            });
        }
</script>
</body>
</html>
