<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>@ViewBag.Title </title>
    <link rel="shortcut icon" href="~/Content/assets/img/logo/favicon.png">

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    @Styles.Render("~/cssbase/font-google")
    @Styles.Render("~/cssbase/theme")
    @Styles.Render("~/cssbase/style")
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-9ZfPnbegQSumzaE7mks2IYgHoayLtuto3AS6ieArECeaR8nCfliJVuLh/GaQ1gyM" crossorigin="anonymous">
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    @Scripts.Render("~/jsbase/pageloader")
    @Scripts.Render("~/jsbase/jquery")
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white">
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>

    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        @RenderBody()
    </div>
    <!-- ================== BEGIN BASE JS ================== -->
    @Scripts.Render("~/jsbase/bootstrap")
    <!--[if lt IE 9]>
        @Scripts.Render("~/jsbase/ie9")
    <![endif]-->
    @Scripts.Render("~/jsbase/jscookie")
    @Scripts.Render("~/jsbase/theme")
    @Scripts.Render("~/jsbase/slimScroll")
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    @RenderSection("scripts", required: false)
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
</body>
</html>
