@model portal.Areas.Project.Models.Bid.Package.PackageViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = tableLayout.TableKey;
}
<tr data-entitykey="@entityKey">
    <td>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.BDCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.BidId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PackageId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.Status, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.IndustryId, new { @id = Guid.NewGuid() })
        @Html.EditorFor(m => m.Description)
    </td>
    <td>
        @Html.EditorFor(m => m.MarketId)
    </td>
    <td>
        @Html.EditorFor(m => m.DivisionId)
    </td>
    <td>
        @Html.EditorFor(m => m.BoreTypeId)
    </td>
    <td>
        @Html.EditorFor(m => m.NumberOfBores)
    </td>
    <td>
        @Html.EditorFor(m => m.PipeSize)
    </td>
    <td>
        @Html.EditorFor(m => m.RigCategoryId)
    </td>
    <td>
        @Html.EditorFor(m => m.GroundDensityId)
    </td>
    @if (!viewOnly)
    {
        <td>
            <button class="btn btn-danger pull-right delRow"
                    data-entitykey="@entityKey">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    }
</tr>
