@model portal.Models.Views.Equipment.Forms.EquipmentOwnershipViewModel
@{
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var formLayout = new TableLayoutModel(this);
    var entityKey = formLayout.TableKey;
    var formId = string.Format("form_{0}", Guid.NewGuid());
    var id = formId.ToString().Replace("-", "");
}

<form class="form-horizontal"
      id="@formId"
      data-entitykey="@entityKey"
      data-urlupdate="@Url.Action("UpdateOwnership", "EquipmentForm")"
      data-urlvalidate="@Url.Action("ValidateOwnership", "EquipmentForm")"
      data-postupdate="PostUpdate@(id)">
    @Html.AntiForgeryToken()
    <div class="form-group has-feedback">
        <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
        </div>
    </div>
    @Html.HiddenFor(m => m.EMCo, new { @id = Guid.NewGuid() })

    @foreach (var prp in this.ViewData.ModelMetadata.Properties.Where(p => p.TemplateHint == "HiddenInput").Select(s => s.PropertyName))
    {
        @Html.Hidden(prp, Model.GetType().GetProperty(prp).GetValue(Model, null), new { @id = Guid.NewGuid() })
    }

    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.OwnershipStatusId)
    </div>
    <div class="form-group has-feedback row owndedGrp">
        @Html.EditorFor(m => m.PurchasedFrom)
    </div>
    <div class="form-group has-feedback row owndedGrp">
        @Html.EditorFor(m => m.PurchDate)
    </div>
    <div class="form-group has-feedback row owndedGrp">
        @Html.EditorFor(m => m.PurchasePrice)
    </div>

    <div class="form-group has-feedback row leaseGrp">
        @Html.EditorFor(m => m.LeasedFrom)
    </div>
    <div class="form-group has-feedback row leaseGrp">
        @Html.EditorFor(m => m.LeasePayment)
    </div>
    <div class="form-group has-feedback row leaseGrp">
        @Html.EditorFor(m => m.LeaseEndDate)
    </div>
    <div class="form-group has-feedback row leaseGrp">
        @Html.EditorFor(m => m.LeaseEndDate)
    </div>
</form>
<script>
    $('#@formId').ready(function () {
        Form().init('#@formId');
        handleOwnershipStatusView($('#@formId'));
    });
    function PostUpdate@(id)(elem) {
        if ($(elem).attr('name') == "OwnershipStatusId") {
            handleOwnershipStatusView($('#@formId'));
        }
    }
    function handleOwnershipStatusView(form) {
        var elem = $(form).find("[name='OwnershipStatusId']");
        var val = $(elem).val();


        $(form).find(".owndedGrp").hide();
        $(form).find(".leaseGrp").hide();
        switch (val) {
            case "O":
                $(form).find(".owndedGrp").show();
                break;
            case "R":
                $(form).find(".leaseGrp").show();
                break;
            case "L":
                $(form).find(".leaseGrp").show();
                break;
            case "C":
                $(form).find(".customerGrp").show();
                break;
            default:
        }
    }

</script>