@model object
@{
    var id = Html.IdFor(m => m).ToString();
    if (id.LastIndexOf("_") > 0)
    {
        id = id.Substring(id.LastIndexOf("_") + 1);
    }
    var idGuid = "group_" + Guid.NewGuid();
    var name = id;
    id = string.Concat(id, idGuid);

    var required = this.ViewData.ModelMetadata.IsRequired ? "required" : "";
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var displayOnly = bool.TryParse(ViewBag.DisplayOnly?.ToString(), out bool displayOnlyOut) ? displayOnlyOut : false;
    var tableRow = bool.TryParse(ViewBag.TableRow?.ToString(), out bool tableRowOut) ? tableRowOut : false;
    var prop = this.ViewData.ModelMetadata.PropertyName;
    viewOnly = this.ViewData.ModelMetadata.IsReadOnly ? true : viewOnly;
    var attributes = this.ViewData.ModelMetadata.AdditionalValues.TryGetValue("FieldAttribute", out object fldAttribute) ? (FieldAttribute)fldAttribute : new FieldAttribute();

    var dic = new Dictionary<string, object>();
    dic.Add("data-updrelatedpanes", attributes.UpdateRelatedPanes);
    dic.Add("id", id);
    dic.Add("Name", name);
    dic.Add("autocomplete", "new-password");
    if (this.ViewData.ModelMetadata.IsRequired)
    {
        dic.Add("required", "");
        //dic.Add("data-parsley-required", "true");
        dic.Add("data-parsley-error-message", name + " is required");
    }
    if (viewOnly)
    {
        dic.Add("disabled", "");
    }

    var labelSize = "col-lg-" + @attributes.LabelSize.ToString();
    var textSize = "";
    if (!tableRow)
        textSize = "col-lg-" + @attributes.TextSize.ToString();
}
@if (attributes.LabelSize != 0 && !tableRow)
{
    @Html.LabelForRequired(m => m, new { @class = @labelSize + " col-form-label text-lg-right col-form-label" })
}
@if (displayOnly)
{
<span Name="@name">
    *************
</span>
}
else
{
<div class="@textSize input-group " id="@idGuid">
    @Html.PasswordFor(m => m, StaticFunctions.GetHtmlAttributes(new { @class = ("form-control " + prop) }, dic))
    @Html.ValidationMessageFor(m => m, "", new { @class = "invalid-feedback" })
</div>
<div class="parsleyError"></div>
}
