@model  portal.Models.Views.Bid.Forms.Bore.Award.AwardViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = tableLayout.TableKey;
}
<tr data-entitykey="@entityKey">
    <td>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.BDCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.BidId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PackageId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.BoreId, new { @id = Guid.NewGuid() })
        @Html.EditorFor(m => m.Description)
    </td>
    <td>
        @Html.EditorFor(m => m.AwardStatus)
    </td>
    <td>
        @Html.EditorFor(m => m.Footage)
    </td>
</tr>
