@model  portal.Models.Views.Purchase.Order.PurchaseOrderItemViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = tableLayout.TableKey;
    ViewBag.TableRow = "True";
}
<tr data-entitykey="@entityKey">
    <td>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.POCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.JCCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.EMCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PO, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.TaxGroupId, new { @id = Guid.NewGuid() })
        @Html.EditorFor(m => m.POItem, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.ItemTypeId, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.JobId, new { DisplayOnly = true })
        @Html.EditorFor(m => m.EquipmentId, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.Cost, new { DisplayOnly = true })
    </td>
    @if (!viewOnly)
    {
        <td>
            <button class="btn btn-danger pull-right delRow"
                    data-entitykey="@entityKey">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    }
</tr>