@model portal.Areas.HumanResource.Models.Resource.ResourceListViewModel

@{
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    string tableKey = tableLayout.TableKey;

}

@*@Html.Partial("Forms/Termination/Modal")*@
@Html.AntiForgeryToken()
<table class="table "
       id="@tableId"
       data-dataurl="@Url.Action(ViewBag.DataAction, ViewBag.DataController)"
       data-reloadurl="@Url.Action(ViewBag.TableAction, ViewBag.DataController)"
       data-urlselect="@Url.Action("Panel", "Resource")"
       data-dstselect="reviewPanel"
       data-dstselectvalidate="false"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().HRCo)</th>
            <th data-datatable-filter-type="multiselect">@Html.LabelForRequired(model => model.List.FirstOrDefault().StatusString)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().ResourceId)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().Name)</th>
            <th data-datatable-filter-type="multiselect">@Html.LabelForRequired(model => model.List.FirstOrDefault().Division)</th>
            <th data-datatable-filter-type="multiselect">@Html.LabelForRequired(model => model.List.FirstOrDefault().Office)</th>
            <th data-datatable-filter-type="multiselect">@Html.LabelForRequired(model => model.List.FirstOrDefault().Position)</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $('#@tableId').ready(function () {
        var panel = $("#@tableId").closest('.panel').first();
        var table = $('#@tableId').DataTable({
            paging: false,
            autoWidth: true,
            ordering: true,
            processing: true,
            scrollCollapse: true,
            scrollY: 250,
            language: {
                loadingRecords: 'Loading....',
                processing: '<span class="spinner-small"></span>'
            },
            ajax: {
                url: $('#@tableId').data('dataurl'),
                data: function (d) {
                },
                type: "GET",
                datatype: "json",
            },
            columns: [
                { data: "HRCo" },
                { data: "StatusString" },
                { data: "ResourceId" },
                { data: "Name" },
                { data: "Division" },
                { data: "Office" },
                { data: "Position" },
            ],
            columnDefs: [
                { targets: [0], visible: false },
            ],
            fnInitComplete: function () {
                $('#@(tableId)_filter').hide();
                Table().init($('#@tableId'));
                //var dtButtons = $(panel).find('.dt-buttons');
                //$(dtButtons).hide();
            },
            createdRow: function (row, data, dataIndex) {
                var rowKey = "HRCo=" + data.HRCo + "&employeeId=" + data.ResourceId;
                $(row).attr('data-entitykey', rowKey);
            }
        });

        $(panel).find('[data-click="panel-excel"]').on('click', function () {
            var panel = $("#@tableId").closest('.panel').first();
            var dtButtons = $(panel).find('.dt-buttons');
            var dtExcelBtn = $(dtButtons).find('.buttons-excel');
            console.log('clicked', dtExcelBtn);
            $(dtExcelBtn).click();
        });
    })
</script>