@model portal.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}


<!-- begin register -->
<div class="register register-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url(../Content/images/Banner_01.jpg)"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>Hardrock</b> Portal</h4>
            <p>
                Welcome to the Hardrock Infrastructure Portal.
            </p>
        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin register-header -->
        <h1 class="register-header">
            @ViewBag.Title
            <small>Reset your password.</small>
        </h1>
        <!-- end register-header -->
        <!-- begin register-content -->
        <div class="register-content">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "margin-bottom-0", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.Code)
                <label class="control-label">Email <span class="text-danger">*</span></label>
                <div class="row m-b-15">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="Email" name="Email" placeholder="Email address" required />
                    </div>
                </div>

                <label class="control-label">Password <span class="text-danger">*</span></label>
                <div class="row m-b-15">
                    <div class="col-md-12">
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required />
                    </div>
                </div>

                <label class="control-label">Confirm Password <span class="text-danger">*</span></label>
                <div class="row m-b-15">
                    <div class="col-md-12">
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="ConfirmPassword" required />
                    </div>
                </div>

                <div class="register-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Reset</button>
                    <hr />
                    <a href="@Url.Action("Login","Account", routeValues: new { Area = "" })" class="btn btn-primary btn-block btn-lg">Return Home</a>
                </div>
                <hr />
                <p class="text-center">
                    &copy; HardRock Infrastructure All Right Reserved @DateTime.Now.Year
                </p>
            }
        </div>
        <!-- end register-content -->
    </div>
    <!-- end right-content -->
</div>
<!-- end register -->



@section Scripts {
    @Scripts.Render("~/jsbase/jqueryval")
}
