@model portal.Models.Views.Payroll.PayrollReviewSummaryListViewModel
@{
    ViewBag.TableRow = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    string tableKey = "";
    var maxPREndingDate = Model.List.Max(max => max.PREndDate);
}
<table class="table table-responsive"
       id="@tableId"
       @*data-urlselect="@Url.Action("Panel", "PayrollEmployeeSummary")"
       data-urlupdatepayrollstatus="@Url.Action("UpdatePayrollStatus", "PayrollReview")"
       data-dstselect="reviewPanel"
       data-dstselectvalidate="false"*@
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th width="10%">@Html.LabelForRequired(model => model.List.FirstOrDefault().PREndDate)</th>
            <th width="10%">@Html.LabelForRequired(model => model.List.FirstOrDefault().Status)</th>
            @foreach (var DayofWeek in Model.List
                                        .Where(f => f.PREndDate == maxPREndingDate)
                                        .GroupBy(g => new { g.WorkDate.DayOfWeek, g.WorkDate })
                                        .OrderBy(o => o.Key.WorkDate)
                                        .Select(s => new { DayOfWeek = s.Key.DayOfWeek })
                                        .ToList())
            {
                <th width="10%"><label>@DayofWeek.DayOfWeek.ToString().Substring(0, 3)</label></th>
            }
            <th width="10%"><label>Total</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empWeek in Model.List
                                        .OrderBy(o => o.EmployeeName)
                                        .ThenBy(o => o.Status)
                                        .GroupBy(g => new { g.PRCo, g.EmployeeId, g.EmployeeName, g.PREndDate, g.WeekId })
                                        .Select(s => new
                                        {
                                            PRCo = s.Key.PRCo,
                                            EmployeeId = s.Key.EmployeeId,
                                            EmployeeName = s.Key.EmployeeName,
                                            PREndDate = s.Key.PREndDate,
                                            WeekId = s.Key.WeekId,
                                            TotalHours = s.Sum(sum => sum.Hour),
                                            TotalDays = s.Sum(sum => ((int)(sum.PerdiemId ?? 0) >= 1 ? 1 : 0)),
                                            List = s
                                        })
                                        .OrderBy(o => o.EmployeeName)
                                        .ThenBy(o => o.PREndDate)
                                        .ToList())
        {
            var firstItem = empWeek.List.FirstOrDefault();
            var entityKey = string.Format(AppCultureInfo.CInfo(), "PRCo={0}&EmployeeId={1}&WeekId={2}", empWeek.PRCo, empWeek.EmployeeId, empWeek.WeekId);
            var rowSpan = empWeek.List.GroupBy(g => g.Status).Count();
            foreach (var hourStatus in empWeek.List.GroupBy(g => g.Status)
                                                   .Select(s => new { Status = s.Key, PayrollStatus = s.Max(max => max.PayrollStatus), List = s })
                                                   .ToList()
                                                   .OrderBy(o => o.Status)
                                                   .ToList())
            {
                var hoursClass = "";
                if (hourStatus.Status == DB.PayrollReviewStatusEnum.Pending)
                {
                    hoursClass = "bg-yellow-lighter";
                }
                if (hourStatus.Status == DB.PayrollReviewStatusEnum.Posted)
                {
                    hoursClass = "bg-aqua-lighter";

                }
                <tr data-entitykey="@entityKey"
                    data-prco="@empWeek.PRCo"
                    data-employeeid="@empWeek.EmployeeId"
                    data-weekid="@empWeek.WeekId"
                    class="">
                    <td data-sort="@firstItem.PREndDate.ToString("yyyyMMdd")">
                        @firstItem.PREndDate.ToShortDateString()
                    </td>
                    <td>
                        <div>
                            @hourStatus.Status
                        </div>
                    </td>
                    @{
                        var originalhoursClass = hoursClass;
                    }
                    @foreach (var DayofWeek in Model.List
                                                    .Where(f => f.WeekId == empWeek.WeekId)
                                                    .GroupBy(g => new { g.WorkDate.DayOfWeek, g.WorkDate })
                                                    .OrderBy(o =>  o.Key.WorkDate)
                                                    .Select(s => new { DayOfWeek = s.Key.DayOfWeek })
                                                    .ToList())
                    {
                        var subItem = hourStatus.List.Where(f => f.WorkDate.DayOfWeek == DayofWeek.DayOfWeek).ToList();
                        var entryCnt = empWeek.List.Where(f => f.WorkDate.DayOfWeek == DayofWeek.DayOfWeek && f.Hour != null).Count();
                        <td>
                            @if (entryCnt != 0)
                            {
                                var hours = subItem.Sum(sum => sum.Hour);
                                if (firstItem.PREndDate < maxPREndingDate && hours == 0)
                                {
                                    hours = null;
                                }
                                if (hourStatus.Status == DB.PayrollReviewStatusEnum.Approved && firstItem.PREndDate < maxPREndingDate && hours != 0)
                                {
                                    hoursClass = "bg-purple-transparent-5";
                                }
                                if (firstItem.PREndDate >= maxPREndingDate && hours > 12)
                                {
                                    hoursClass = "bg-red-transparent-5";
                                }
                                else
                                {
                                    hoursClass = originalhoursClass;
                                }
                                <div class="@hoursClass">
                                    <b>
                                        @string.Format(AppCultureInfo.CInfo(), "{0:F2}", hours)
                                    </b>
                                </div>
                            }
                            else if (entryCnt == 0)//hourStatus.Status == DB.PayrollReviewStatusEnum.Approved &&
                            {
                                if (firstItem.PREndDate == maxPREndingDate)
                                {
                                    <div class="text-red-lighter"><b>Empty</b></div>
                                }
                            }
                            @if (subItem.Max(max => max.PerdiemId) != null)
                            {
                                var employeePerdiem = subItem.Max(max => max.PerdiemId);
                                if (hourStatus.Status == DB.PayrollReviewStatusEnum.Approved && firstItem.PREndDate < maxPREndingDate && employeePerdiem != 0)
                                {
                                    hoursClass = "bg-purple-transparent-5";
                                }
                                else
                                {
                                    hoursClass = originalhoursClass;
                                }
                                <div class="@hoursClass">
                                    <div><b>@string.Format(AppCultureInfo.CInfo(), "{0}", employeePerdiem)</b></div>
                                </div>
                            }
                        </td>
                    }

                <td>
                    @if (firstItem.Status == hourStatus.Status)
                    {
                        var totalHours = Math.Round(empWeek.TotalHours ?? 0, 2);
                        if (totalHours >= 60)
                        {
                            <div class="bg-red-transparent-5 f-s-16"><b> @String.Format("{0:F2}", totalHours)</b></div>
                        }
                        else
                        {
                            <div class="f-s-16"><b> @String.Format("{0:F2}", totalHours)</b></div>
                        }
                        <div class=""><b>@empWeek.TotalDays Days</b></div>
                        @Html.HiddenFor(m => firstItem.EmployeeId, new { @id = Guid.NewGuid() })
                    }
                </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#@tableId').DataTable({
            'order': [
                [0, "desc"],
                [1, "asc"]
            ],
            'rowsGroup': [0],
            'pageLength': 10,
            fnInitComplete: function () {
                Table().init($('#@tableId'));
            },
        });
    });

</script>