@model portal.Models.Views.Equipment.Location.EquipmentLocationViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = tableLayout.TableKey;
    ViewBag.TableRow = true;
}
<tr data-entitykey="@entityKey">
    <td>
        @Html.EditorFor(m => m.LocationId, new { ViewOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.Description, new { ViewOnly = true })
    </td>
    <td>
        @Html.AntiForgeryToken()
        @Html.EditorFor(m => m.EMCo, new { ViewOnly = true })
    </td>
</tr>
