@model portal.Models.Views.AR.Customer.CustomerListViewModel

@{
    ViewBag.Title = "Customer Listing";
}


@section styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    <link href="~/Content/assets/plugins/dhtmlx/suite/custom.css" rel="stylesheet" />
    @Styles.Render("~/csspage/inputcontrols")
}
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = "" })">Home</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
<h1 class="page-header">@ViewBag.Title </h1>
<div class="row">
    <div class="col-xl-4">
        @Html.Partial("../AR/Customer/Summary/List/Panel", Model)
    </div>
    <div class="col-xl-8">
        <div class="reviewPanel" id="reviewPanel">
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/dhtmlx/suite/suite.js"></script>
    @Scripts.Render("~/jspage/inputcontrols")
}