@model portal.Models.Views.HQ.Batch.BatchErrorListViewModel

@{
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    string tableKey = tableLayout.TableKey;
}

<table class="table "
       id="@tableId"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th data-datatable-filter-type="none">@Html.LabelFor(model => model.List.FirstOrDefault().Co)</th>
            <th data-datatable-filter-type="none">@Html.LabelFor(model => model.List.FirstOrDefault().BatchId)</th>
            <th data-datatable-filter-type="none">@Html.LabelFor(model => model.List.FirstOrDefault().Mth)</th>
            <th data-datatable-filter-type="none">@Html.LabelFor(model => model.List.FirstOrDefault().Seq)</th>
            <th data-datatable-filter-type="none">@Html.LabelFor(model => model.List.FirstOrDefault().ErrorText)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.List)
        {
            @Html.Partial("../HQ/Batch/Error/TableRow", obj)
        }
    </tbody>
</table>

<script>
    $('#@tableId').ready(function () {
        var itemCnt = @(Model.List.Count());
        h = tableHeight($('#@tableId'), itemCnt, 42.4) -20;
        var table = $('#@tableId').DataTable({
            paging: false,
            autoWidth: true,
            ordering: true,
            processing: false,
            scrollCollapse: true,
            scrollY: 250,
            columnDefs: [
                { targets: [0], visible: false },
                { targets: [1], visible: false },
                { targets: [2], visible: false },
            ],
            fnInitComplete: function () {
                $('#@(tableId)_filter').hide();
                Table().init($('#@tableId'));
            },
        });
    })
</script>