@model portal.Models.Views.Equipment.Location.EquipmentLocationCreateViewModel
@{
    var formId = string.Format("form_{0}", Guid.NewGuid());
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var formLayout = new TableLayoutModel(this);
    var entityKey = formLayout.TableKey;
}

<form class="form-horizontal"
      id="@formId"
      data-entitykey="@entityKey"
      data-urlcreate="@Url.Action("Create","EquipmentLocation")">
    <fieldset>
        <legend>Create Equipment Location</legend>
    </fieldset>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Co, new { @id = Guid.NewGuid() })

    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.LocationId)
        @Html.EditorFor(m => m.Description)
    </div>
</form>
<script>
    $('#@formId').ready(function () { Form().init($('#@formId')); });
</script>
