@model portal.Models.Views.Bid.PackageCostItemViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = tableLayout.TableKey;
}
    <tr data-entitykey="@entityKey">
        <td>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Co, new { @id = Guid.NewGuid() })
            @Html.HiddenFor(m => m.BidId, new { @id = Guid.NewGuid() })
            @Html.HiddenFor(m => m.PackageId, new { @id = Guid.NewGuid() })
            @Html.HiddenFor(m => m.LineId, new { @id = Guid.NewGuid() })
            @Html.EditorFor(m => m.BudgetCodeId)
        </td>
        <td>
            @Html.EditorFor(m => m.Multiplier)
        </td>
        <td>
            @Html.EditorFor(m => m.Applied)
        </td>
        @if (!viewOnly)
        {
            <td>
                <button class="btn btn-danger pull-right delRow"
                        data-entitykey="@entityKey">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        }
    </tr>
