@model portal.Models.Views.SM.Request.Forms.EquipmentLineListViewModel
@{
    ViewBag.TableRow = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var tableLayout = new TableLayoutModel(this);
    var tableKey = tableLayout.TableKey;
}

<table class="table table-sm"
       id="@tableId"
       style="display:none"
       data-urlcreate="@Url.Action("RequestEquipmentLineAdd", "ServiceRequest")"
       data-urldelete="@Url.Action("RequestEquipmentLineDelete", "ServiceRequest")"
       data-urlupdate="@Url.Action("RequestEquipmentLineUpdate", "ServiceRequest")"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th width="150px">Equipment</th>
            <th width="80px">Type</th>
            <th width="100px">Location</th>
            <th width="70px">Mileage</th>
            <th width="70px">Hours</th>
            <th width="120px">Request Type</th>
            <th width="90px">Priority</th>
            <th>Description of Issue</th>
            <th width="70px">Emergency</th>
            <th width="35px">
                <button class="btn btn-sm btn-primary addRow pull-right">
                    <i class="fa fa-plus"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model.List)
        {
            @Html.Partial("../SM/Request/Equipment/Form/List/TableRow", request)
        }
    </tbody>
</table>
<script>
    $('#@tableId').ready(function () {
        console.log('Table is Ready');
        var table = $('#@tableId');
        var h = 42 * @(Model.List.Count);
        if (h > 500) {
            h = 500;
            var parent = $(table).parent();
            var contaner = $('<div></div>');
            $(contaner).css("height", h + "px");
            $(contaner).css("overflow-y", "scroll");
            $(contaner).css("display", "block");

            $(contaner).appendTo(parent);
            $(table).appendTo(contaner);
        }
        $(table).show();
	    Table().init($('#@tableId'));

    });
</script>
