@model portal.Areas.Project.Models.Bid.CustomerListViewModel
@{
    ViewBag.TableRow = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    string tableKey = tableLayout.TableKey;
}

<table class="table"
       id="@tableId"
       data-urlcreate="@Url.Action("ProposalCustomerAdd", "Bid")"
       data-urldelete="@Url.Action("CustomerDelete", "Bid")"
       data-urlupdate="@Url.Action("CustomerUpdate", "Bid")"
       data-urlvalidate="@Url.Action("CustomerValidate", "Bid")"
       data-urlselect="@Url.Action("BidProposalPDFPanel", "Bid")"
       data-reloadurl="@Url.Action("ProposalCustomerTable", "Bid", new { bdco = Model.BDCo, bidId = Model.BidId })"
       data-dstselect="pdfPreView_@(Model.BidId)"
       data-tablekey="@tableKey">
    <thead>
        <tr class="">
            <th width="45%">@Html.LabelForRequired(model => model.List.FirstOrDefault().CustomerId)</th>
            <th width="40%">@Html.LabelForRequired(model => model.List.FirstOrDefault().ContactId)</th>
            @if (!viewOnly)
            {
                <th width="15%">
                    <button class="btn btn-primary addRow pull-right">
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.List)
        {
            @Html.Partial("Forms/Proposal/Customer/_TableRow", obj)
        }
    </tbody>
</table>

<script>
    $('#@tableId').ready(function () {
        Table().init($('#@tableId'));
    });
</script>