@model portal.Models.Views.WA.Application.TrafficAccidentListViewModel

@{
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    string tableKey = tableLayout.TableKey;
    ViewBag.TableRow = true;

}
<table class="table "
       id="@tableId"
       data-urlvalidate="@Url.Action("ApplicationTrafficAccidentValidate", "WebApplication")"
       data-urlupdate="@Url.Action("ApplicationTrafficAccidentUpdate", "WebApplication")"
       data-urldelete="@Url.Action("ApplicationTrafficAccidentDelete", "WebApplication")"
       data-urlcreate="@Url.Action("ApplicationTrafficAccidentAdd", "WebApplication")"
       data-dstselectvalidate="false"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().ApplicantId)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().ApplicationId)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().SeqId)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().IncidentDate)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().AtFaultTypeId)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().Description)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().CitationIssued)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            @Html.Partial("../HR/Applicant/Form/Application/Form/TrafficAccident/TableRow", item)
        }
    </tbody>
</table>

<script>
    $('#@tableId').ready(function () {
        var itemCnt = @(Model.List.Count());
        h = tableHeight($('#@tableId'), itemCnt, 42.4) - 50;

        var table = $('#@tableId').DataTable({
            paging: false,
            autoWidth: true,
            ordering: true,
            processing: true,
            scrollCollapse: true,
            scrollY: h,
            bInfo: false,
            columnDefs: [
                { targets: [0, 1], visible: false },
            ],
            fnInitComplete: function () {
                var setting = this;
                this.api().columns().every(function () {
                    addSearchRow(this, setting);
                });
            },
        });
        $('.dataTables_filter').hide();
    })
</script>