@model portal.Models.Views.DailyTicket.DailyCrewSubmissionListViewModel

@{
    ViewBag.Title = "Crew Submissions";
    var id = Guid.NewGuid().ToString().Replace("-", "");
}


@section styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    @Styles.Render("~/csspage/inputcontrols")
}
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = "" })">Home</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
<div class="row">
    <div class="col-xl-5">
        <form class="form-horizontal" id="DailyCrewSubmissionListViewModelWeekSelect">
            <div class="form-group has-feedback row">

                <h1 class="page-header">@ViewBag.Title </h1>
                @Html.EditorFor(m => m.WeekId, new { ViewOnly = false })
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xl-5">
        <div class="row">
            <div class="col-xl-12" id="weekPanel">
                @Html.Partial("../DT/CrewSubmission/List/Panel", Model)
            </div>
        </div>
    </div>
    <div class="col-xl-7">
        <div class="reviewPanel" id="reviewPanel">
        </div>
    </div>
</div>

<div class="modal fade"
     id="rejectTicket"
     data-url="@Url.Action("RejectIndex", "DailyTicketForm")">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/dataTables.rowsGroup.js"></script>
    @Scripts.Render("~/jspage/inputcontrols")

    <script>
        $(document).ready(function () {
            Form().init($('#DailyCrewSubmissionListViewModelWeekSelect'));
            $('.form-horizontal').on('change', '[name="WeekId"]', function () {
                //console.log('changed');
                var data = $(this).closest('form').SerializeJson();
                var weekId = $(this).val();
                $('#weekPanel').find('.panel').each(function () {
                    var url = $(this).data('tablereloadurl');

                    /*Rebuild reload url */
                    var urlRoute = "";
                    $.each(data, function (key, value) {
                        if (urlRoute !== "") {
                            urlRoute += "&"
                        }
                        urlRoute += key + "=" + value;
                    });
                    var newURL = url + "?" + urlRoute;
                    $(this).data('reloadurl', newURL);

                    dst = $(this).find('.panel-body');
                    $.ajax({
                        type: "get",
                        url: url,
                        data: data,
                        success: function (res) {
                            var html = '<div id="ticketPanel" class="ticketPanel">' + res + '</div >';
                            dst.html(html);
                            Table().init(dst);
                        }
                    });
                })
            })
        });
        $('#rejectTicket').on('show.bs.modal', function (event) {
            var dst = $(this).find(".modal-content");
            var url = $(this).data("url");
            var data = $(event.relatedTarget).data("entitykey");
            $.ajax({
                type: "Get",
                dataType: "html",
                url: url,
                data: data,
                success: function (data) {
                    dst.html(data);
                }
            });
        });
        $('#rejectTicket').on('hidden.bs.modal', function () {
            var dst = $(this).find(".modal-content");
            dst.html('');
        })
    </script>
}