@model portal.Models.Views.DailyTicket.DailyWeeklyEmployeeEntryViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = tableLayout.TableKey;

    var showJob = Model.EntryTypeId == DB.EntryTypeEnum.Job;
    var showEqp = Model.EntryTypeId == DB.EntryTypeEnum.Equipment;
    var colSpan = viewOnly ? "5" : "6";
}
<tr data-entitykey="@entityKey">
    <td>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.EntityName, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.EntityKeyString, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.DTCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PRCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.JCCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.EMCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PhaseGroupId, new { @id = Guid.NewGuid() })

        @Html.HiddenFor(m => m.TicketId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.LineNum, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.EmployeeId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.Perdiem, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PerdiemLineNum, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.Comments, new { @id = Guid.NewGuid() })
        @Html.EditorFor(m => m.WorkDate)
    </td>
    <td>
        @Html.EditorFor(m => m.DayDescription)
    </td>
    <td>
        @Html.EditorFor(m => m.Value)
    </td>
    <td>
        @Html.EditorFor(m => m.EntryTypeId)
    </td>
    <td>
        <div class="selectJobId" style="@(showJob ? "": "display:none")">
            @Html.EditorFor(m => m.JobId)
        </div>
        <div class="selectEquipmentId" style="@(showEqp ? "": "display:none")">
            @Html.EditorFor(m => m.EquipmentId)
        </div>
    </td>
    <td>
        <div class="selectPhaseId" style="@(showJob ? "": "display:none")">
            @Html.EditorFor(m => m.PhaseId)
        </div>
    </td>
    @if (!viewOnly)
    {
        <td>
            <div class="btn-group pull-right ">
                <button class="btn btn-primary commentRowBtn"
                        style="@(String.IsNullOrEmpty(Model.Comments) ? "display: normal;" : "display: none;")"
                        id="@("commentRowBtn_" + @Model.LineNum)"
                        data-linenum="@Model.LineNum">
                    <i class="fa fa-comment"></i>
                </button>
                <button class="btn btn-danger delRow"
                        data-entitykey="@entityKey">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </td>

    }
</tr>
<tr class="commentRow"
    id="@("commentRow_" + Model.LineNum.ToString())"
    style="@(!String.IsNullOrEmpty(Model.Comments) ? "display: normal;" : "display: none;")"
    data-entitykey="@entityKey">

    <td colspan="@colSpan" style="border-top-width: 0px; padding-top: 0px;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.EntityName, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.EntityKeyString, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.DTCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.TicketId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.LineNum, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.EmployeeId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.Perdiem, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PerdiemLineNum, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.WorkDate, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.DayDescription, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.Value, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.EntryTypeId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.JobId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.EquipmentId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PhaseId, new { @id = Guid.NewGuid() })
        <div class="form-group has-feedback row" style="margin-bottom: 0px;">
            @Html.EditorFor(m => m.Comments, new { tableRow = "False" })
        </div>
    </td>
</tr>