@model portal.Models.Views.Purchase.Request.PORequestSummaryListViewModel
<div class="panel panel-inverse"
     data-sortable-id="@(Guid.NewGuid())"
     data-reloadurl="@Url.Action("Table", "PORequestProcess")"
     data-addtobatchurl="@Url.Action("AddtoBatchList", "PORequestProcess")">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="btn-group pull-right pr-2">
            <button type="button" class="btn btn-success btn-xs">Menu</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown"></button>
            <ul class="dropdown-menu" role="menu">
                <li><a class="processItems" href="javascript:;" onclick="ProcessChecked(this)">Process Checked Items</a></li>
            </ul>
        </div>
        <h4 class="panel-title">Purchase Order Requests</h4>
    </div>
    <div class="panel-body" id="PORequestSummaryListViewModel">
        @Html.Partial("../PO/Request/Process/List/Table", Model)
    </div>
</div>

<div class="modal fade"
     id="rejectTicket"
     data-url="@Url.Action("Index", "PORequestReject")">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>
    $('#rejectTicket').on('show.bs.modal', function (event) {
        var dst = $(this).find(".modal-content");
        var url =  $(this).data("url");
        var data = $(event.relatedTarget).data("entitykey");

        //console.log(dst, url, data);
        $.ajax({
            type:"Get",
            dataType: "html",
            url: url,
            data: data,
            success: function (data) {
                dst.html(data);
            }
        });
    });
    $('#rejectTicket').on('hidden.bs.modal', function () {
        var dst = $(this).find(".modal-content");
        dst.html('');
    })
    function ProcessChecked(elem) {
        var panel = $(elem).closest('.panel');
        var table = $(panel).find('.table');

		if (!$(panel).hasClass('panel-loading')) {
			var targetBody = $(panel).find('.panel-body');
            var spinnerHtml = '<div class="panel-loader"><span class="spinner-small"></span></div>';

			$(panel).addClass('panel-loading');
            $(targetBody).prepend(spinnerHtml);
        }
        
        var url = $(panel).data("addtobatchurl");
        var listData = new Array();
        $(table).find('tr').each(function () {
            var canProcessSwitch = $(this).find('.CanProcess');
            if (canProcessSwitch.length != 0) {
                if ($(canProcessSwitch).is(':checked')) {
                    var data = $(this).SerializeTableRow();
                    listData.push(data);
                    $(this).hide();
                }
            }
        });
        //console.log(JSON.stringify(listData));
        $.ajax({
            type: "Post",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            url: url,
            async: true,
            data: JSON.stringify(listData),
            success: function (res) {
                if (res.success === "true") {
                    $(panel).removeClass('panel-loading');
                    $(panel).find('.panel-loader').remove();
                }
                else {
                    $(panel).removeClass('panel-loading');
                    $(panel).find('.panel-loader').remove();

                    $(panel).find('[data-click="panel-reload"]').click();
                }
            }
        });

    }
</script>