@model portal.Models.Views.Equipment.Location.EquipmentLocationViewModel

@{
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var formLayout = new TableLayoutModel(this);
    var entityKey = formLayout.TableKey;
    var formId = string.Format("form_{0}", Guid.NewGuid());
}

<form class="form-horizontal"
      id="@formId"
      data-entitykey="@entityKey"
      data-urlupdate="@Url.Action("Update", "EquipmentLocation")"
      data-urlvalidate="@Url.Action("Validate", "EquipmentLocation")">
    <div class="form-group has-feedback">
        <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
        </div>
    </div>
    @Html.AntiForgeryToken()
    @foreach (var prp in this.ViewData.ModelMetadata.Properties.Where(p => p.TemplateHint == "HiddenInput").Select(s => s.PropertyName))
    {
        @Html.Hidden(prp, Model.GetType().GetProperty(prp).GetValue(Model, null), new { @id = Guid.NewGuid() })
    }

    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.LocationId, new { ViewOnly = true })
        @Html.EditorFor(m => m.Description)
    </div>
</form>
<script>
    $('#@formId').ready(function () { Form().init($('#@formId')); });
</script>