@model portal.Models.Views.Dashboard.DirectReportSummaryListViewModel

@{
    ViewBag.Title = "Payroll Entry Review";
}
@section styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    @Scripts.Render("~/jspage/inputcontrols")
}
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
<div class="row">
    <div class="col-xl-6">
        <form class="form-horizontal" id="DirectReportSummaryListViewModelWeekSelect">
            <div class="form-group has-feedback row">
                <h1 class="page-header">@ViewBag.Title </h1>
                @Html.EditorFor(m => m.WeekId)
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="row">
            <div class="col-xl-12" id="weekPanel">
                @Html.Partial("../DT/Reports/Supervisor/List/Panel", Model)
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="reviewPanel" id="reviewPanel">
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/dataTables.rowsGroup.js"></script>
    @Scripts.Render("~/jspage/inputcontrols")

    <script>
        $(document).ready(function () {
            Form().init($('#DirectReportSummaryListViewModelWeekSelect'));
            $(document).on('change', '[name="WeekId"]', function () {
                var data = $(this).closest('form').SerializeJson();
                var weekId = $(this).val();
                $('#weekPanel').find('.panel').each(function () {
                    var url = $(this).data('tablereloadurl');

                    $(".processItems").attr("onclick", "ProcessChecked(this, " + weekId + ")");
                    /*Rebuild reload url */
                    var urlRoute = "";
                    $.each(data, function (key, value) {
                        if (urlRoute !== "") {
                            urlRoute += "&"
                        }
                        urlRoute += key + "=" + value;
                    });
                    var newURL = url + "?" + urlRoute;
                    $(this).data('reloadurl', newURL);

                    dst = $(this).find('.panel-body');
                    $.ajax({
                        type: "get",
                        url: url,
                        data: data,
                        success: function (html) {
                            dst.html(html);
                            Table().init(dst);
                        }
                    });
                })
            })
        });

    </script>
}

