@model portal.Models.Views.Equipment.EquipmentListViewModel
@{
    //ViewBag.TableRow = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var tableLayout = new TableLayoutModel(this);
    string tableKey = tableLayout.TableKey;
}

<style>
    .form-inline .form-control{
        width:100%;
    }
</style>
<table class="table "
       id="@tableId"
       data-reloadurl="@Url.Action("Table", ViewBag.DataController)"
       data-dataurl="@Url.Action(ViewBag.DataAction, ViewBag.DataController)"
       data-urlselect="@Url.Action("PartialIndex", "EquipmentForm")"
       data-statusid="@Model.StatusId"
       data-assignedstatus="@(Model.AssignedStatus == null ? "B" : ((int)Model.AssignedStatus).ToString())"
       @*data-co="@((byte?)Model.Co)"
       data-jobid="@(Model.JobId)"
           *@
       data-dstselect="reviewPanel"
       data-dstselectvalidate="false"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th>@Html.LabelForRequired(model => model.List.FirstOrDefault().EMCo)</th>
            <th data-datatable-filter-type="multiselect">@Html.LabelForRequired(model => model.List.FirstOrDefault().CategoryId)</th>
            <th data-datatable-filter-type="select">@Html.LabelForRequired(model => model.List.FirstOrDefault().EquipmentId)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().Description)</th>
            <th data-datatable-filter-type="multiselect">@Html.LabelForRequired(model => model.List.FirstOrDefault().AssignmentType)</th>
            <th data-datatable-filter-type="checkbox" width="15px"><label><i class="fas fa-paperclip"></i></label></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $('#@tableId').ready(function () {
        var panel = $("#@tableId").closest('.panel').first();
        var tableElem = $('#@tableId');
        var h = $("body").height();
        h -= $(panel).height();
        h -= $(tableElem).find('thead').height();
        h -= 40;
        //console.log('Available H: ', h, $("body").height());

        $('#@tableId thead tr:eq(1) th').each(function (i) {
            $(':Input', this).on('keyup change', function () {
                var value = this.value;
                if (table.column(i).search() !== value) {
                    table
                        .column(i)
                        .search("^" + value, true, false, true)
                        .draw();
                }
            });
        });

        var table = $('#@tableId').DataTable({
            orderCellsTop: true,
            paging: false,
            autoWidth:true,
            ordering: true,
            processing: true,
            scrollX: false,
            scrollY: 250,
            //searching: false,
            language: {
                loadingRecords: 'Loading....',
                processing: '<span class="spinner-small"></span>'
            },
            ajax: {
                url: $('#@tableId').data('dataurl'),
                data: function (d) {
                    d.statusId =  $('#@tableId').attr('data-statusid');
                    //d.assignStatus =  $('#@tableId').attr('data-assignedstatus');
                    //d.co = $(table).attr('data-co');
                    //d.jobId = $(table).attr('data-jobid');
                },
                type: "GET",
                datatype: "json",
            },
            columns: [
                { data: "EMCo" },
                { data: "Category" },
                { data: "EquipmentId" },
                { data: "Description" },
                { data: "AssignmentTypeString" },
                { data: "HasAttachment" },
            ],
            fnInitComplete: function () {
                $('#@(tableId)_filter').hide();
                Table().init($('#@tableId'));
            },
            //fnInitComplete: function () {
            //    $('.dataTables_scrollBody').slimscroll({ height: h + 'px', });
            //    $('.dataTables_scrollHeadInner').css("width", "100%");
            //    setTimeout(function () { $('table').css("width", "100%"); }, 1000);

            //    this.api().columns([1]).every(function () {
            //        var column = this;
            //        var select = $('.CategoryId').empty()
            //            .append('<option value="" >Show All</option>');
            //        column.data().unique().sort().each(function (d, j) {
            //            if (d !== null) {
            //                select.append('<option value="' + d + '">' + d + '</option>');
            //            }
            //        });
            //    });

            //},
            drawCallback: function () {
                $('.table .dataTables').css("width", "100%");
            },
            rowsGroup: [1],
            columnDefs: [
                { targets: [0], visible: false },
                { targets: [5], orderable: false },
                {
                    targets: [3,5],
                    createdCell: function (cell, cellData, rowData, rowIndex, colIndex) {
                        if (colIndex === 3) {
                            $(cell).addClass('f-s-9');
                        }
                        if (colIndex === 5) {
                            if (cellData === true) {
                                $(cell).html('<i class="fas fa-paperclip"></i>');
                            }
                            else {
                                $(cell).html(cellData);
                            }
                        }
                    }
                },
            ],
            createdRow: function (row, data, dataIndex) {
                var rowKey = "EMCo=" + data.EMCo + "&EquipmentId=" + data.EquipmentId;
                $(row).attr('data-entitykey', rowKey);
            }
        });
    })

</script>