@model portal.Areas.HumanResource.Models.TermRequest.CreateTermRequestViewModel

@{
    var formId = string.Format("form_{0}", Guid.NewGuid());
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var formLayout = new TableLayoutModel(this);
    var entityKey = formLayout.TableKey;
}

<form class="form-horizontal"
      id="@formId"
      data-entitykey="@entityKey"
      data-url="@Url.Action("Create","TermRequest")">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.HRCo, new { @id = Guid.NewGuid() })
    @Html.HiddenFor(m => m.RequestedDate, new { @id = Guid.NewGuid() })
    @Html.HiddenFor(m => m.RequestedBy, new { @id = Guid.NewGuid() })

    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.HRRef)
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.TermDate)
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.Comments)
    </div>
</form>
<script>
    $('#@formId').ready(function () { Form().init($('#@formId')); });
</script>
