@model portal.Models.Views.SM.Request.Forms.FormViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div class="panel panel-inverse"
     data-reloadurl="@Url.Action("ServiceRequestForm", "ServiceRequest", new { smco = Model.SMCo, requestId = Model.RequestId })">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-url="@Url.Action("Panel","AuditLog")" data-click="panel-history" style="display:none"><i class="fas fa-history"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <h4 class="panel-title">Service Request (@Model.Info.RequestId)</h4>
    </div>
    <div class="panel-body" id="@panelId">
        @Html.Partial("../SM/Request/Equipment/Form/Form", Model)
    </div>
</div>