@model portal.Models.Views.AP.CreditCard.Batch.BatchViewModel

@{
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var formLayout = new TableLayoutModel(this);
    var entityKey = formLayout.TableKey;
    var formId = string.Format("form_{0}", Guid.NewGuid());
}

<form class="form-horizontal"
      id="@formId"
      data-entitykey="@entityKey">
    @Html.AntiForgeryToken()
    <div class="form-group has-feedback">
        <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
        </div>
    </div>
    @Html.HiddenFor(m => m.Co, new { @id = Guid.NewGuid() })
    @Html.HiddenFor(m => m.Mth, new { @id = Guid.NewGuid() })
    @Html.HiddenFor(m => m.BatchId, new { @id = Guid.NewGuid() })
    @Html.HiddenFor(m => m.Source, new { @id = Guid.NewGuid() })

    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.Mth, new { ViewOnly = true })
        @Html.EditorFor(m => m.BatchDate, new { ViewOnly = true })
    </div>
</form>
<script>
    $('#@formId').ready(function () { Form().init($('#@formId')); });
</script>