@model portal.Areas.HumanResource.Models.TermRequest.TermRequestViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = tableLayout.TableKey;
    var classStr = "";
}

<tr data-entitykey="@entityKey">
    <td class="@classStr">
        @Html.AntiForgeryToken()
        @Html.EditorFor(m => m.HRCo, new { DisplayOnly = true })
    </td>
    <td class="@classStr">
        @Html.EditorFor(m => m.RequestId, new { DisplayOnly = true })
    </td>
    <td class="@classStr">
        @Html.EditorFor(m => m.EmployeeName, new { DisplayOnly = true })
    </td>
    <td class="@classStr">
        @Html.EditorFor(m => m.RequestedOn, new { DisplayOnly = true })
    </td>
    <td class="@classStr">
        @Html.EditorFor(m => m.RequestedBy, new { DisplayOnly = true })
    </td>
    <td class="@classStr">
        @Html.EditorFor(m => m.Status, new { DisplayOnly = true })
    </td>
</tr>