@model portal.Models.Views.Bid.BoreLineViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = "";
    foreach (var prp in tableLayout.Properties)
    {
        if (prp.IsKey)
        {
            var myData = Model.GetType().GetProperty(prp.Property);
            var myVal = myData.GetValue(Model, null);
            if (rowKey != string.Empty)
            {
                rowKey += "&";
            }
            rowKey += prp.Property + "=" + myVal.ToString();
        }
    }
}
<tr data-entitykey="@entityKey">
    <td>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Co, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.BidId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.BoreId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PackageId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.CrewCount, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.BoreTypeId, new { @id = Guid.NewGuid() })
        @Html.EditorFor(m => m.Description)
    </td>
    @*<td>
            @Html.EditorFor(m => m.BoreTypeId)
        </td>*@
    <td>
        @Html.EditorFor(m => m.Footage)
    </td>
    <td>
        @Html.EditorFor(m => m.PipeSize)
    </td>
    <td>
        @Html.EditorFor(m => m.GroundDensityId)
    </td>
    <td>
        @Html.EditorFor(m => m.RigCategoryId)
    </td>
    @*<td>
            @Html.EditorFor(m => m.CrewCount)
        </td>*@
    @*<td>
            @Html.EditorFor(m => m.MobeDays)
        </td>
        <td>
            @Html.EditorFor(m => m.DeMobeDays)
        </td>*@
    <td>
        @Html.EditorFor(m => m.DirtCost, new { ViewOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.RockCost, new { ViewOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.DirtDays, new { ViewOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.RockDays, new { ViewOnly = true })
    </td>
    <td>
        @if (!viewOnly)
        {
            <button class="btn btn-danger pull-right delRow"
                    data-entitykey="@entityKey">
                <i class="fa fa-trash"></i>
            </button>
        }
    </td>
    </tr>
