@model portal.Models.Views.WF.WorkFlowUserViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = tableLayout.TableKey;
}
<tr data-entitykey="@entityKey">
    <td>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.WFCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.WorkFlowId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.SeqId, new { @id = Guid.NewGuid() })
        @Html.EditorFor(m => m.AssignedUser, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.AssignedOn, new { DisplayOnly = true })
    </td>
</tr>