@model portal.Models.Views.Equipment.Audit.EquipmentAuditViewModel
@{
    var formId = string.Format("form_{0}", Guid.NewGuid());
    var id = formId.ToString().Replace("-", "");
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var formLayout = new TableLayoutModel(this);
    var entityKey = formLayout.TableKey;
}

<form class="form-horizontal"
      id="@formId"
      data-entitykey="@entityKey"
      data-postupdate="PostUpdate@(id)">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EMCo, new { @id = Guid.NewGuid() })
    @Html.HiddenFor(m => m.PRCo, new { @id = Guid.NewGuid() })

    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.AuditForm, new { ViewOnly = true })
        @Html.EditorFor(m => m.AuditTypeId, new { ViewOnly = true })
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.AssignedTo, new { ViewOnly = true })
        @Html.EditorFor(m => m.CreatedUser, new { ViewOnly = true })
    </div>
    <div class="form-group has-feedback row CrewId">
        @Html.EditorFor(m => m.CrewId, new { ViewOnly = true })
    </div>
    <div class="form-group has-feedback row EmployeeId">
        @Html.EditorFor(m => m.EmployeeId, new { ViewOnly = true })
    </div>
    <div class="form-group has-feedback row LocationId">
        @Html.EditorFor(m => m.LocationId, new { ViewOnly = true })
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.Description, new { ViewOnly = true })
    </div>

    @*<div class="form-group has-feedback row">
            <div class="IncludCrewLeaderEquipment">
                @Html.EditorFor(m => m.IncludCrewLeaderEquipment)
            </div>
            <div class="IncludeDirectReportEmployeeEquipment">
                @Html.EditorFor(m => m.IncludeDirectReportEmployeeEquipment)
            </div>
        </div>
        <div class="form-group has-feedback row">
            <div class="IncludeDirectReportEmployeeEquipment">
                @Html.EditorFor(m => m.IncludeSubEquipment)
            </div>
        </div>*@
</form>

<script>
    $('#@formId').ready(function () {
        var form = $('#@formId');
        Form().init('#@formId');
        handleAuditTypeView(form);
    })
    function PostUpdate@(id)(elem) {
        var form = $(elem).closest('form');
        if ($(elem).attr('name') === 'AuditTypeId') {
            handleAuditTypeView(form);

        }

    }
    function handleAuditTypeView(form) {
        var elem = $(form).find("[name='AuditTypeId']");
        var val = parseInt($(elem).val());
        switch (val) {
            case 0:
                //$(form).find('.IncludCrewLeaderEquipment').hide();
                //$(form).find('.IncludeDirectReportEmployeeEquipment').show();
                $(form).find('.LocationId').hide();
                $(form).find('.EmployeeId').hide();
                $(form).find('.CrewId').show();
                break;
            case 1:
                //$(form).find('.IncludCrewLeaderEquipment').show();
                //$(form).find('.IncludeDirectReportEmployeeEquipment').show();
                $(form).find('.LocationId').hide();
                $(form).find('.CrewId').hide();
                $(form).find('.EmployeeId').show();
                break;
            case 2:
                //$(form).find('.IncludCrewLeaderEquipment').hide();
                //$(form).find('.IncludeDirectReportEmployeeEquipment').hide();
                $(form).find('.LocationId').show();
                $(form).find('.CrewId').hide();
                $(form).find('.EmployeeId').hide();
                break;
            default:
        }
    }

</script>
