@model portal.Models.Views.Purchase.Request.PORequstFormViewModel

<div class="row validationContaner">
    <div class="col-xl-8">
        <div class="row">
            <div class="col-xl-12">
                @Html.Partial("../PO/Request/Form/Header/Panel", Model)
            </div>
            <div class="col-xl-12">
                @Html.Partial("../PO/Request/Form/Lines/List/Panel", Model)
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="row">
            <div class="col-xl-12">
                @Html.Partial("../PO/Request/Form/StatusLog/List/Panel", Model.StatusLogs)
                @Html.Partial("../WF/AssignedUsers/Panel", Model.WorkFlowUsers)
            </div>
            <div class="col-xl-12">
                @Html.Action("Panel", "Explorer", new { Area = "Attachment", uniqueAttchID = Model.Attachments.UniqueAttchID })
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="poModel"
     data-url="@Url.Action("GetPO", "PORequest")">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade"
     id="rejectTicket"
     data-url="@Url.Action("Index", "PORequestReject")">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<script>
    $('#rejectTicket').on('show.bs.modal', function (event) {
        var dst = $(this).find(".modal-content");
        var url = $(this).data("url");
        var data = $(event.relatedTarget).data("entitykey");

        //console.log(dst, url, data);
        $.ajax({
            type: "Get",
            dataType: "html",
            url: url,
            data: data,
            success: function (data) {
                dst.html(data);
            }
        });
    });

    $('#rejectTicket').on('hidden.bs.modal', function () {
        var dst = $(this).find(".modal-content");
        dst.html('');
    });
</script>
