@*@model  portal.Models.Views.Purchase.Order.PurchaseOrderStatusLogListViewModel
@{
    ViewBag.TableRow = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var tableLayout = new TableLayoutModel(this);
    string tableKey = "";
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    foreach (var prp in tableLayout.Properties)
    {
        if (prp.IsKey)
        {
            var myData = Model.GetType().GetProperty(prp.Property);
            var myVal = myData.GetValue(Model, null);
            if (tableKey != string.Empty)
            {
                tableKey += "&";
            }
            tableKey += prp.Property + "=" + myVal.ToString();
        }
    }
}

<table class="table"
       id="@tableId"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th width="25%">@Html.LabelForRequired(model => model.List.FirstOrDefault().CreatedOn)</th>
            <th width="50%">@Html.LabelForRequired(model => model.List.FirstOrDefault().CreatedUser)</th>
            <th width="25%">@Html.LabelForRequired(model => model.List.FirstOrDefault().Status)</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.List)
        {
            @Html.Partial("../PurchaseOrder/StatusLog/TableRow", obj)
        }
    </tbody>
</table>*@