@model portal.Areas.Project.Models.Locate.LocateViewModel

@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = tableLayout.TableKey;
    var classStr = "";
}

<tr data-entitykey="@entityKey"
    data-fileurl="@Url.Action("Open", "Explorer", new { Area="Attachment", attachmentId = Model.AttachmentId })"
    data-filedataurl="@Url.Action("FileData", "Explorer", new { Area="Attachment", attachmentId = Model.AttachmentId })">
    <td class="@classStr">
        @Html.EditorFor(m => m.LocateId, new { DisplayOnly = true })
    </td>
    <td class="@classStr">
        @Html.EditorFor(m => m.LocateRefId, new { DisplayOnly = true })
    </td>
    <td class="@classStr">
        @Html.EditorFor(m => m.Description, new { DisplayOnly = true })
    </td>
    <td class="@classStr">
        @Html.EditorFor(m => m.Status, new { DisplayOnly = true })
    </td>
    <td class="@classStr">
        @Html.EditorFor(m => m.StartDate, new { DisplayOnly = true })
    </td>
    <td class="@classStr">
        @Html.EditorFor(m => m.ExpDate, new { DisplayOnly = true })
    </td>
    <td class="@classStr">
        @Html.EditorFor(m => m.GPSCoords, new { DisplayOnly = true })
    </td>
    <td>
        @if (Model.AttachmentId != null)
        {
            <button class="btn btn-xs btn-primary  pull-right btnOpenFile">
                <i class="far fa-file-pdf"></i>
            </button>
        }
    </td>
</tr>
