@model DB.Infrastructure.EmailModels.LocateRequestEmailViewModel
@{
    Layout = "~/Views/Shared/_LayoutEmail.cshtml";
    ViewBag.Title = "Locate Request";
}

<!-- begin page container -->
<table class="container content dark-theme">
    <tr>
        <td>
            <!-- begin row -->
            <table class="row">
                <tr>
                    <!-- begin wrapper -->
                    <td class="wrapper">
                        <table class="twelve columns">
                            <tr>
                                <td class="last">
                                    <h4>Locate Request @Model.Status</h4>
                                    <p class="m-b-5">Please click the following link to review the request</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="panel">
                                    <p>@Model.Comments</p>
                                    <a href="https://@(Request.Url.Authority)@Url.Action("RequestFormIndex","Locate", new { Area = "Project",  requestId = Model.RequestId })">
                                        https://@(Request.Url.Authority)@Url.Action("RequestFormIndex", "Locate", new { Area = "Project", requestId = Model.RequestId })
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="m-t-15 last">If clicking the URL above does not work, copy and paste the URL into a browser window.</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- end wrapper -->
                </tr>
            </table>
            <!-- end row -->
            <!-- begin divider -->
            <table class="divider"></table>
            <!-- end divider -->
            <!-- begin row -->
            <table class="row">
                <tr>
                    <!-- begin wrapper -->
                    <td class="wrapper">
                        <!-- begin twelve columns -->
                        <table class="twelve columns">
                            <tr>
                                <td class="callout-inner secondary">
                                    <h4>Requested By: @Model.RequestedUser</h4>
                                </td>
                            </tr>
                            <tr>
                                <td class="panel">
                                    <dl>
                                        <dt>Description:         @Model.ProjectDesc</dt>
                                        <dt>Date:                @Model.RequestedOnStr</dt>
                                        <dt>By:                  @Model.RequestedUser</dt>
                                        <dt>Project Start Date:  @Model.ProjectStartDateStr</dt>
                                        <dt>Comments:            @Model.Comments</dt>

                                    </dl>
                                </td>
                            </tr>
                        </table>
                        <!-- end twelve columns -->
                    </td>
                    <!-- end wrapper -->
                </tr>
            </table>
            <!-- end row -->
            @if (Model.Locates.Any() && false)
            {
                <!-- begin row -->
                <table class="row">
                    <tr>
                        <!-- begin wrapper -->
                        <td class="wrapper">
                            <!-- begin twelve columns -->
                            <table class="twelve columns">
                                <tr>
                                    <td class="callout-inner secondary">
                                        <h4>Requested by @Model.RequestedUser</h4>
                                        <table class="row">
                                            <tr>
                                                <th class="small-2 large-2 columns first" style="border-bottom: 1px solid;">
                                                    <p class="text-left"><b>Ref Id</b></p>
                                                </th>
                                                <th class="small-6 large-6 columns" style="border-bottom: 1px solid;">
                                                    <p class="text-left"><b>Location</b></p>
                                                </th>
                                                <th class="small-2 large-2 columns" style="border-bottom: 1px solid;">
                                                    <p class="text-left"><b>Start Date</b></p>
                                                </th>
                                                <th class="small-2 large-2 columns last" style="border-bottom: 1px solid;">
                                                    <p class="text-left"><b>Expire Date</b></p>
                                                </th>
                                            </tr>
                                            @foreach (var package in Model.Locates)
                                            {

                                                <tr>
                                                    <td>@package.LocateRefId</td>
                                                    <td>
                                                        @package.Location
                                                    </td>
                                                    <td>
                                                        @if (package.StartDate.Value != null)
                                                        {
                                                            @(package.StartDate.Value.ToShortDateString())
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (package.ExpDate.Value != null)
                                                        {
                                                            @(package.ExpDate.Value.ToShortDateString())
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- end twelve columns -->
                        </td>
                        <!-- end wrapper -->
                    </tr>
                </table>
                <!-- end row -->
            }
        </td>
    </tr>
</table>
<!-- end page container -->