@model portal.Models.Views.Equipment.Service.EquipmentServiceListViewModel
@{
    ViewBag.TableRow = "True";
    ViewBag.DisplayOnly = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var tableLayout = new TableLayoutModel(this);
    var tableKey = tableLayout.TableKey;

}
<table class="table"
       id="@tableId"
       data-urlcreate="@Url.Action("ServiceItemAdd", "EquipmentService")"
       data-urldelete="@Url.Action("ServiceItemDelete", "EquipmentService")"
       data-urlselect="@Url.Action("ServiceItemPanel", "EquipmentService")"
       data-dstselect="reviewPanel"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th>@Html.LabelForRequired(model => model.List.FirstOrDefault().Description)</th>
            <th width="35px">
                <button class="btn btn-sm btn-primary addRow pull-right">
                    <i class="fa fa-plus"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            @Html.Partial("../EM/Service/Summary/List/TableRow", item)
        }
    </tbody>
</table>

<script>
    $('#@tableId').ready(function () { Table().init($('#@tableId')); });
</script>