@model portal.Models.Views.WA.Application.ActionViewModel

@{
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var formLayout = new TableLayoutModel(this);
    var formId = "form_" + Guid.NewGuid();
    var btnId = string.Format("button_{0}_{1}", Model.ApplicantId, Model.ApplicationId);
}

<div class="row"
     id="@formId"
     data-applicantid="@Model.ApplicantId"
     data-applicationid="@Model.ApplicationId">
    <div class="col-lg-12 m-b-5">
        @Html.AntiForgeryToken()
        <div class="text-left">
            @foreach (var action in Model.WorkFlowActions)
            {
                <button 
                        type="button" 
                        class="btn @action.ButtonClass @btnId" 
                        data-url="@Url.Action("UpdateStatus", "WebApplication")"
                        data-gotostatusid="@((int)action.GotoStatusId)" 
                        data-redirectaction="@action.ActionRedirect" 
                        data-key="@formLayout.TableKey">@action.Title
                </button>
            }
        </div>
    </div>
</div>


<script>
    $('#@formId').ready(function () {
        $('#@(formId)').on('click', 'button.@btnId', function () {
            console.log('I was Clicked');

            //location.href = url;

            var button = this;
            var func = function (button) {
                $(button).Busy();
                var row = $(button).closest('.row');
                var url = $(button).data('url');
                var token = $(row).find('[name="__RequestVerificationToken"]');

                var data = $(button).data('key');
                var gotoStatusId = $(button).data('gotostatusid');
                data += "&statusId=" + gotoStatusId;
                data += "&__RequestVerificationToken=" + token.val();

                console.log('url: ', url, 'data: ', data);
                $.post(url, data, function (res) {
                    if (res.success === "true") {
                        ReloadPanel(button);

                    }
                    $(button).NotBusy();
                });
            }

            func(button);
        });
    });
</script>