@using portal
@{
    var listItemId = 1;
    var listItemTag = "em";
}
@if (User.HasAccess("Equipment") ||
        User.HasAccess("EMAuditUser") ||
        User.HasAccess("DailyEquipmentUsage") ||
        User.HasAccess("EquipmentParameter") ||
        User.HasAccess("EquipmentLocation") ||
        User.HasAccess("EquipmentCategory") ||
        User.HasAccess("EquipmentService") ||
        User.HasAccess("ServiceRequest")


        )
{
    <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
        <a href="javascript:;">
            <b class="caret"></b>
            <i class="fas fa-truck-plow"></i>
            <span>Equipment</span>
        </a>
        <ul class="sub-menu">
            @if (User.HasAccess("Equipment", "Index"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "Equipment", routeValues: new { Area = "" })">List</a></li>
            }
            @if (User.HasAccess("Equipment", "UserIndex"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("UserIndex", "Equipment", routeValues: new { Area = "" })">Your Equipment</a></li>
            }
            @if (User.HasAccess("EMInspection", "Index"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "EMInspection", routeValues: new { Area = "" })">Inspection</a></li>
            }

            @if (User.HasAccess("EMAuditSite") ||
                User.HasAccess("EMAuditUser") ||
                User.HasAccess("EMAudit"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <span>Audit</span>
                    </a>
                    <ul class="sub-menu">
                        <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
                            <a href="javascript:;">
                                <b class="caret"></b>
                                <span>Reports</span>
                            </a>
                            <ul class="sub-menu">
                                @*<li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "EMAuditSubmissionReport", new { Area = "",  })">Week Submission</a></li>*@
                                <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "EMAuditWeeklySubmissionReport", new { Area = ""})">Weekly Submission</a></li>
                            </ul>

                        </li>
                        @if (User.HasAccess("EMAuditSite", "Index"))
                        {
                            <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "EMAuditSite", new { Area = ""})">Site Audit</a></li>
                        }
                        @if (User.HasAccess("EMAuditUser", "Index"))
                        {
                            <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "EMAuditUser", new { Area = "" })">Your Audit</a></li>
                        }
                        @if (User.HasAccess("EMAudit", "ApprovalIndex"))
                        {
                            <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("ApprovalIndex", "EMAudit", new { Area = "" })">Your Approvals</a></li>
                        }
                        @if (User.HasAccess("EMAudit", "Index"))
                        {
                            <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "EMAudit", new { Area = "" })">All Audit</a></li>
                        }
                    </ul>
                </li>
            }

            @if (User.HasAccess("ServiceRequest"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <span>Request</span>
                    </a>
                    <ul class="sub-menu">
                        <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("ServiceEquipmentRequestListIndex", "ServiceRequest", routeValues: new { Area = "" })">Equipment(s) with Request</a></li>
                        <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("ServiceRequestUserListIndex", "ServiceRequest", routeValues: new { Area = "" })">Your Request(s)</a></li>
                    </ul>
                </li>
            }

            @if (User.HasAccess("EMWorkOrder"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <span>Work Orders</span>
                    </a>
                    <ul class="sub-menu">
                        <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("WorkOrderIndex", "EMWorkOrder", new { Area = "" })">Work Order(s)</a></li>
                        @*<li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("ServiceRequestLineUserListIndex", "ServiceRequest", new { Area = "",  })">Your Request(s)</a></li>*@

                    </ul>
                </li>
            }
            @if (User.HasAccess("EquipmentParameter") ||
                User.HasAccess("EquipmentLocation") ||
                User.HasAccess("EquipmentCategory"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <span>Administration</span>
                    </a>
                    <ul class="sub-menu">
                        <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "EquipmentParameter", routeValues: new { Area = "" })">Parameters</a></li>
                        <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "EquipmentLocation", routeValues: new { Area = "" })">Locations</a></li>
                        <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "EquipmentCategory", routeValues: new { Area = "" })">Categories</a></li>
                        <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("ServiceItemIndex", "EquipmentService", routeValues: new { Area = "" })">Service Items</a></li>
                    </ul>
                </li>
            }
            @if (User.HasAccess("DailyEquipmentUsage"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <span>Posting</span>
                    </a>
                    <ul class="sub-menu">
                        @if (User.HasAccess("DailyEquipmentUsage", "Index"))
                        {
                            <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "DailyEquipmentUsage", routeValues: new { Area = "" })">Usage Posting</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </li>
}