@model portal.Models.Views.Payroll.Review.PayrollEmployeeTicketListViewModel
@{
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    string tableKey = "";
}
<table class="table"
       id="@tableId"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th width="15%"><label>Created User</label></th>
            @foreach (var DayofWeek in Model.Calendar)
            {
                <th width="@(85/7)%" class="text-center">
                    <label>@DayofWeek.WeekDayName</label>
                    <label>@DayofWeek.Date.ToShortDateString()</label>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model.Tickets.GroupBy(g => new { g.CreatedBy }).Select(s => new { CreatedUser = s.Key.CreatedBy, List = s}).ToList())
        {
            <tr>
                <td>@ticket.CreatedUser</td>
                @foreach (var caledar in Model.Calendar)
                {
                    var sublist = ticket.List.Where(f => f.WorkDate == caledar.Date).ToList();
                    <td class="text-center">
                        @foreach (var item in sublist)
                        {
                            var btnClass = item.StatusClass.Replace("label", "btn");
                            <button type="button"
                                    class="btn btn-xs @btnClass ticketBtn"
                                    data-ticketco="@item.DTCo"
                                    data-ticketid="@item.TicketId">
                                @item.Status
                            </button>
                            <br />
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#@tableId').DataTable({
            autoWidth: true,
            "order": [],
            "searching": false,
            "paging": false,
            "ordering": false,
            "info": false,
            fnInitComplete: function () {
                Table().init($('#@tableId'));
            },
        });
    });

    $('#@tableId').on('click', 'button.ticketBtn', function () {
        var url = "@Url.Action("PartialIndex", "DailyTicket")";
        var dstId = "ticketPanel";
        var data = {
            DTCo: $(this).data("ticketco"),
            TicketId:  $(this).data("ticketid"),
        };
        var dst = $('#' + dstId);
        var button = this;

        $(button).SetButtonBusy();
        //console.log(url, data, dst);
        var index = 0;
        $.ajax({
            type: "Get",
            dataType: "html",
            url: url,
            async: false,
            data: data,
            success: function (res) {
                $('.ticketPanelCard').show();
                //console.log(url, data, dst);
                var divId = dstId + '_' + index ;
                var html = '<div id="' + divId + '">\r\n';
                html += res;
                html += '\r\n</div>';

                if (index === 0)
                    dst.html(html);
                else
                    dst.append(html);

                var panel = $('#' + divId).find('.panel-body');
                Table().init(panel.get(0));
                $(dst).removeClass('panel-loading');
                $(dst).find('.panel-loader').remove();
                $('html, body').animate({
                    scrollTop: $(dst).offset().top - 150
                }, 500)
                $(button).SetButtonNotBusy();
            }
        });
    });
</script>