@model portal.Models.Views.Purchase.Order.PurchaseOrderSummaryViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    string rowKey = "";
    foreach (var prp in tableLayout.Properties)
    {
        if (prp.IsKey)
        {
            var myData = Model.GetType().GetProperty(prp.Property);
            var myVal = myData.GetValue(Model, null);
            if (rowKey != string.Empty)
            {
                rowKey += "&";
            }
            rowKey += prp.Property + "=" + myVal.ToString();
        }
    }
}
<tr data-rowkey="@rowKey">
    <td>
        @Html.HiddenFor(m => m.Co, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PO, new { @id = Guid.NewGuid() })
        <span class="label @Model.StatusClass">
            @Html.EditorFor(l => l.Status, new { DisplayOnly = true })            
        </span>
    </td>
    <td class="hidden-xs hidden-sm">
        @Html.EditorFor(l => l.VendorName, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(l => l.PO, new { DisplayOnly = true })
    </td>
    <td class="hidden-xs hidden-sm">
        @Html.EditorFor(l => l.Description, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(l => l.Cost, new { DisplayOnly = true })
    </td>
    @if (ViewBag.Controller != "UserPurchaseOrder")
    {
        <td class="hidden-xs hidden-sm">
            @Html.EditorFor(l => l.CreatedUser, new { DisplayOnly = true })
        </td>
    }
    else
    {
        <td>
            @if (Model.ContainsErrors)
            {
                <i class="fas fa-exclamation-triangle fa-2x text-red pull-right "></i>
                <div class="text-sm-left text-red">@Model.ErrorMsg</div>
            }
        </td>
    }
</tr>