@model portal.Models.Views.AP.CreditCard.CreditImportViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = tableLayout.TableKey;
    ViewBag.TableRow = true;
}
<tr data-entitykey="@entityKey">
    <td>
        @Html.EditorFor(m => m.ImportId, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.Source, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.ImportedBy, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.ImportDate, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.FileName, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.NumberOfLines, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.LinesAdded, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.LinesSkipped, new { DisplayOnly = true })
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Co, new { @id = Guid.NewGuid() })
    </td>
    <td>
        @Html.EditorFor(m => m.ErrorLines, new { DisplayOnly = true })
    </td>
</tr>
