@model portal.Areas.Applicant.Models.TrafficCitationListViewModel

@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
    var panelShow = ViewBag.ExpandAllPanels == true ? "show" : "collapse"; ;

    panelShow = "show";
}

<div class="panel panel-default  m-b-5"
     data-reloadurl="@Url.Action("TrafficCitationTable", "Applicant", new { applicantId = Model.ApplicantId , applicationId = Model.ApplicationId })">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Traffic Citations (@Model.List.Count)
        </div>
    </div>
    <div class="panel-body @panelShow" id="@panelId">
        @Html.Partial("Application/Form/TrafficCitation/_Table", Model)
    </div>
</div>