
@{
    var listItemId = 1;
    var listItemTag = "hr";
}


@if (User.HasAccess("Resource") ||
     User.HasAccess("Applicant") ||
     User.HasAccess("PositionRequest") ||
     User.HasAccess("TermRequest"))
{
    <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub ">
        <a href="javascript:;">
            <b class="caret"></b>
            <i class="fas fa-users"></i>
            <span>Human Resources</span>
        </a>
        <ul class="sub-menu">
            @Html.Partial("../Shared/Sidebar/MenuItems/HR/HR_Employee")
            @Html.Partial("../Shared/Sidebar/MenuItems/HR/HR_Request")
            @Html.Partial("../Shared/Sidebar/MenuItems/HR/HR_Application")
            @Html.Partial("../Shared/Sidebar/MenuItems/HR/HR_Position")
            @Html.Partial("../Shared/Sidebar/MenuItems/HR/HR_Assets")

            @if (User.HasAccess("PayrollHousing"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "PayrollHousing", routeValues: new { Area = "" })">Employee Housing</a></li>
            }
            @if (User.HasAccess("LeaveRequestList"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "LeaveRequestList", routeValues: new { Area = "" })">Time off Request(s)</a></li>
            }
        </ul>
    </li>
}