@*@model portal.Models.Views.Bid.Wizard.ContractApproval.BidWizardFormViewModel

@{
    ViewBag.Title = "Bid Award";
}
@section styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    @Styles.Render("~/csspage/inputcontrols")
    <link href="~/Content/assets/plugins/smartwizard/css/smart_wizard.css" rel="stylesheet" />
}

<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
<h1 class="page-header">@ViewBag.Title </h1>
<div class="row">
    <div class="col-lg-12 m-b-10">
        @Html.AntiForgeryToken()
        <a class='btn btn-primary' href='@Url.Action("EstimateWizard", "BidWizard", new { Area = "",co = @Model.Co, BidId = @Model.BidId  })'>View Estimate</a>
    </div>
</div>
<div id="wizard">
    <ul>
        <li>
            <a href="#step1" data-validate="true">
                <span class="number">1</span>
                <span class="info text-ellipsis">
                    Project Info
                    <small class="text-ellipsis">Customer, Owner and location</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step2" data-validate="true">
                <span class="number">2</span>
                <span class="info text-ellipsis">
                    Package Review
                    <small class="text-ellipsis">Assign JobId and Customers</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step3">
                <span class="number">3</span>
                <span class="info text-ellipsis">
                    Award Bid and Genearate Job info
                    <small class="text-ellipsis"></small>
                </span>
            </a>
        </li>
    </ul>
    <div>
        <div id="step1" data-validate="true">
            <div class="row">
                <div class="col-xl-8">
                    @Html.Partial("../BD/Bid/Form/Panel", Model.Bid)
                </div>
                <div class="col-xl-4">
                    @Html.Partial("../BD/Bid/Customer/List/Panel", Model.Customers)
                </div>
            </div>
        </div>
        <div id="step2" data-validate="true">
            <div class="row">
                <div class="col-xl-7">
                    @Html.Partial("../BD/Bid/Wizard/ContractApproval/Package/Panel", Model.Packages)
                </div>
                <div class="col-xl-5" id="BidBoreLineSelect">

                </div>
            </div>
        </div>
        <div id="step3">
            @Html.Partial("../BD/Bid/WorkFlow/Panel", Model.FlowSubmit)
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-lg-5">
        @Html.Partial("../Forum/Panel", Model.Forum)
    </div>
    <div class="col-lg-7">
        @Html.Action("Panel", "Explorer", new { Area = "Attachment", uniqueAttchID = Model.Attachments.UniqueAttchID })
    </div>
</div>
@section scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/smartwizard/js/jquery.smartWizard.js"></script>
    <script src="~/Content/assets/plugins/arrow-table/arrow-table.js"></script>
    @Scripts.Render("~/jspage/inputcontrols")
    <script>
        $(document).ready(function () {
            initPanels();
            var wizard = $('#wizard').smartWizard({
                toolbarSettings: {
                    toolbarExtraButtons: [
                        $('<button class="pull-left"></button>')
                            .text('Send Back to Proposal')
                            .addClass('btn btn-danger')
                            .on('click', function () {
                                $(this).Busy();
                                var token = $("#wizard").find('[name="__RequestVerificationToken"]');
                                var data = {
                                    __RequestVerificationToken: token.val(),
                                    co: @Model.Co,
                                    bidId: @Model.BidId,
                                    bidStatus: @((int)DB.BidStatusEnum.Proposal) };
                                var url = '@Url.Action("ChangeStatus", "Bid")';
                                $.post(url, data, function (res) {
                                        window.location.href = document.referrer;;
                                });
                            })
                    ]
                },
            });
        });
        $('#wizard').on('leaveStep', function (e, anchorObject, stepNumber, stepDirection) {
            var func = function (stepNumber) { };
            if (stepDirection == 'forward') {
                var stepElem = $('#step' + (stepNumber + 1));
                var isValid = $(stepElem).attr('data-isvalid') == 'true';
                var button = this;
                var validate = $(stepElem).data('validate');
                if (validate) {
                    $(stepElem).PostValidate(button, function (valid) {
                        $(stepElem).attr('data-isvalid', valid);
                        if (valid && isValid) {
                            func(stepNumber);
                        }
                        else if (valid && !isValid) {
                            $('.sw-btn-next').click();
                        }
                    });
                }
                else {
                    $(stepElem).attr('data-isvalid', true);
                    if (isValid) {
                        func(stepNumber);
                    }
                    else if (!isValid) {
                        $('.sw-btn-next').click();
                    }
                }
                return isValid;
            }
        });
    </script>
}*@

