@model portal.Areas.Applicant.Models.EquipmentHistoryListViewModel

@{
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    string tableKey = tableLayout.TableKey;
    ViewBag.TableRow = true;

}
<table class="table "
       id="@tableId"
       data-urlvalidate="@Url.Action("EquipmentHistoryValidate", "WebApplication")"
       data-urlupdate="@Url.Action("EquipmentHistoryUpdate", "WebApplication")"
       data-urldelete="@Url.Action("EquipmentHistoryDelete", "WebApplication")"
       data-urlcreate="@Url.Action("EquipmentHistoryAdd", "WebApplication")"
       data-dstselectvalidate="false"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th data-datatable-filter-type="none" width="45px">@Html.LabelForRequired(model => model.List.FirstOrDefault().SeqId)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().TypeOfEquipment)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().FromDate)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().ToDate)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().Miliage)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            @Html.Partial("Application/Form/EquipmentHistory/_TableRow", item)
        }
    </tbody>
</table>

<script>
    $('#@tableId').ready(function () {
        Table().init($('#@tableId'));
    })
</script>