@model portal.Models.Views.AR.Customer.Forms.CustomerFormViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div class="panel panel-inverse"
     data-reloadurl="@Url.Action("Form", "Customer", new { custGroupId = Model.CustGroupId, customerId = Model.CustomerId })">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-url="@Url.Action("Panel","AuditLog")" data-click="panel-history" style="display:none"><i class="fas fa-history"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <h4 class="panel-title">Customer: @Model.Info.Name (@Model.CustomerId)</h4>
    </div>
    <div class="panel-body" id="@panelId">
        @Html.Partial("../AR/Customer/Forms/Form", Model)
    </div>
</div>