@model portal.Models.Views.HR.Request.Position.ApplicationListViewModel
@{
    ViewBag.TableRow = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var tableLayout = new TableLayoutModel(this);
    var tableKey = tableLayout.TableKey;
}

<table class="table"
       id="@tableId"
       data-urlvalidate="@Url.Action("ApplicantValidate", "HRPositionRequestForm")"
       data-urlupdate="@Url.Action("ApplicantUpdate", "HRPositionRequestForm")"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th >@Html.LabelForRequired(model => model.List.FirstOrDefault().ApplicationId)</th>
            <th >@Html.LabelForRequired(model => model.List.FirstOrDefault().ApplicationDate)</th>
            <th >@Html.LabelForRequired(model => model.List.FirstOrDefault().Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model.List)
        {
            @Html.Partial("../HR/Request/Position/Form/Applicants/TableRow", request)
        }
    </tbody>
</table>
<script>
    $('#@tableId').ready(function () {
        var itemCnt = @(Model.List.Count());
        h = tableHeight($('#@tableId'), itemCnt, 42.4) - 50;

        var table = $('#@tableId').DataTable({
            paging: false,
            autoWidth: true,
            ordering: true,
            processing: true,
            scrollCollapse: true,
            scrollY: h,
            searching: false,
            columnDefs: [
                { targets: [3], orderable: false }
            ],
            order: [[1, 'desc']],
        });
    })
</script>