@model  portal.Models.Views.Equipment.Audit.EquipmentAuditInventoryLineListViewModel
@{
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    string tableKey = tableLayout.TableKey;
}
<div
           >
    <table class="table"
           id="@tableId"
           data-urlcreate="@Url.Action("Add", "EMAuditInventoryForm")"
           data-urldelete="@Url.Action("Delete", "EMAuditInventoryForm")"
           data-urlupdate="@Url.Action("Update", "EMAuditInventoryForm")"
           data-urlvalidate="@Url.Action("Validate", "EMAuditInventoryForm")"
           data-reloadurl="@Url.Action("Table", "EMAuditInventoryForm")"
           data-tablekey="@tableKey">
        <thead>
            <tr class="">
                <th width="5%">@Html.LabelForRequired(model => model.List.FirstOrDefault().Completed)</th>
                <th width="35%">@Html.LabelForRequired(model => model.List.FirstOrDefault().EquipmentId)</th>
                <th width="10%">@Html.LabelForRequired(model => model.List.FirstOrDefault().LicensePlateNo)</th>
                <th width="10%">Transfer To</th>
                <th width="10%">
                    @if (viewOnly != true)
                    {
                        <button data-addrowlocation="top" class="btn btn-primary addRow pull-right">
                            <i class="fa fa-plus"></i>
                        </button>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.List)
            {
                @Html.Partial("../EM/Audit/Types/Inventory/List/Row/TableRow", obj)
            }
        </tbody>
    </table>
</div>
<script>
    //jQuery(function ($) {
    //    var currentMousePos = { x: -1, y: -1 };
    //    $(document).click(function (event) {
    //        currentMousePos.x = event.pageX;
    //        currentMousePos.y = event.pageY;

    //        //console.log("X:", event.pageX, "Y:", event.pageY)
    //    });

    //    // ELSEWHERE, your code that needs to know the mouse position without an event
    //    if (currentMousePos.x < 10) {
    //        // ....
    //    }
    //});
    $('#@tableId').closest('.panel').find('button').each(function () { $(this).prop("disabled", true) });
    $('#@tableId').ready(function () {
        Table().init($('#@tableId'));
        var table = this;
        handleTableEvents($(table));
        $(table).find('.meter').each(function () {
            $(this).find('[name="ActionId"]').each(function () { handleActionView(this) });
            $(this).find('.Completed').each(function () { handleCompletedView(this) });
        }).promise().done(function () {
            $('#@tableId').closest('.panel').find('button').each(function () { $(this).prop("disabled", false) });
        });
        //$(table).closest('.panel').find('.btnAction').each(function () {
        //    $(this).SetButtonNotBusy();
        //});

    })


    $('#@tableId').on('click', 'button.commentRowBtn', function () {
        var row = $(this).closest('tr');
        var seqid = $(this).data('seqid');
        //console.log('Seq Id:', seqid);
        var commentElem = $('#@tableId').find('#commentRow_' + seqid);
        commentElem.show();
        $(this).hide();
    });
    function handleTableEvents(tableElem) {
        $(tableElem)
            .off('change', '.Completed')
            .on('change', '.Completed', function () {
                handleCompletedView(this);
            });
        $(tableElem)
            .off('click', '.transfer')
            .on('click', '.transfer', function () {
                handleActionBtnView(this);
            });
        $(tableElem)
            .off('click', '.untransfer')
            .on('click', '.untransfer', function () {
                handleActionBtnView(this);
            });
    }

    function handleCompletedView(elem) {
        var row = $(elem).closest('tr');
        var rowKey = $(row).data('entitykey');
        var table = $(row).closest('table');

        var val = $(elem).is(':checked');
        $(row).find('.ActionId').prop('disabled', val);

        //$(row).find('.EquipmentId').prop('disabled', val);
        //$(row).find('.EquipmentId').selectpicker('refresh');

        $(row).find('.ToCrewId').prop('disabled', val);
        $(row).find('.ToCrewId').selectpicker('refresh');

        $(row).find('.ToLocationId').prop('disabled', val);
        $(row).find('.ToLocationId').selectpicker('refresh');

        $(row).find('.ToEmployeeId').prop('disabled', val);
        $(row).find('.ToEmployeeId').selectpicker('refresh');

        if (val) {
            $(row).find('.transfer').hide();
            $(row).find('.untransfer').hide();
            $(row).find('.delRow').hide();
        }
        else {
            $(row).find('.transfer').show();
            $(row).find('.untransfer').show();
            $(row).find('.delRow').show();
        }
        $(row).find('[name="ActionId"]').each(function () { handleActionView(this) });

    }


    function handleActionView(elem) {
        var row = $(elem).closest('tr');

        //console.log(transferRow);
        var val = $(elem).val();
        //console.log('Action type:', val);
        switch (val) {
            case "Remove":
            case "Transfer":
                $(row).find('.transferGrp').show();
                $(row).find('.updateGrp').hide();
                //$(row).find('.Completed').Destroy();
                var complete = $(row).find('.Completed');
                var elemSwitch = $(row).find('.Completed').next();
                $(complete).attr('data-theme', "orange");
                $(complete).data('theme', "orange");
                $(elemSwitch).remove();
                $(complete).InitSwitchery();
                break;
            case "Update":
                $(row).find('.transferGrp').hide();
                $(row).find('.updateGrp').show();
                break;
            case "Add":
                $(row).find('.transferGrp').hide();
                $(row).find('.updateGrp').show();
                var complete = $(row).find('.Completed');
                var elemSwitch = $(row).find('.Completed').next();
                $(complete).attr('data-theme', "blue");
                $(complete).data('theme', "blue");
                $(elemSwitch).remove();
                $(complete).InitSwitchery();
                break;
            default:
        }
    }
    function handleActionBtnView(elem) {
        var row = $(elem).closest('tr');

        if ($(elem).hasClass("transfer")) {
            $(row).find('.transferGrp').show();
            $(row).find('.updateGrp').hide();
            $(row).find('[name="ActionId"]').val(3);
            $(row).find('[name="ActionId"]').change();
            var complete = $(row).find('.Completed');
            var elemSwitch = $(row).find('.Completed').next();
            $(complete).attr('data-theme', "orange");
            $(complete).data('theme', "orange");
            $(complete).attr('data-switcheryinit', "false");
            $(elemSwitch).remove();
            $(complete).InitSwitchery();
        }
        else if ($(elem).hasClass("untransfer")) {
            $(row).find('.transferGrp').hide();
            $(row).find('.updateGrp').show();
            $(row).find('[name="ActionId"]').val(2);
            $(row).find('[name="ActionId"]').change();
            var complete = $(row).find('.Completed');
            var elemSwitch = $(row).find('.Completed').next();
            $(complete).attr('data-theme', "green");
            $(complete).data('theme', "green");
            $(complete).attr('data-switcheryinit', "false");
            $(elemSwitch).remove();
            $(complete).InitSwitchery();
        }
    }
</script>