
@model portal.Models.Views.Bid.Wizard.SalesReview.PackageListViewModel
@{
    var accordionGuid = Guid.NewGuid().ToString().Replace("-", "");
    accordionGuid = string.Concat(accordionGuid.Where(char.IsLetter));
}




<div class="row">
    <div class="col-12">
        <div id="@accordionGuid" class="card-accordion">
            <div class="panel-heading p-0">
                @foreach (var package in Model.List)
                {
                    <!-- begin card -->
                    <div class="card">
                        <div class="card-header bg-black text-white pointer-cursor collapsed " data-toggle="collapse" data-target="#collapse@(accordionGuid)@(package.PackageId)">
                            @package.Description
                        </div>
                        <div id="collapse@(accordionGuid)@(package.PackageId)" class="collapse @(package.PackageId == Model.List.FirstOrDefault().PackageId ? "show" : "")" data-parent="#@accordionGuid">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        @Html.Partial("../BD/Bid/Package/Pricing/Form/Panel", package.Pricing)
                                    </div>
                                    <div class="col-6">
                                        @Html.Partial("../BD/Bid/Package/Cost/Summary/Panel", package.CostDetails)
                                        @Html.Partial("../BD/Bid/Line/List/Summary/Panel", package.LineDetails)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                }
            </div>
        </div>

    </div>
</div>
<script>
    $('#@accordionGuid').ready(function () {
        $('#@accordionGuid').on('shown.bs.collapse', function () {
            $(this).find('.dataTable').each(function () {
                $(this).DataTable().draw();
            });
        });
    });

</script>