@model portal.Models.Views.AP.CreditCard.Form.TransactionFormViewModel

@{
    ViewBag.Title = "Transaction Detail";
}
@section styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    @Styles.Render("~/csspage/inputcontrols")
}
<div class="row">
    <div class="col-12">
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = "" })">Home</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </div>
    <div class="col-12">
        @Html.Partial("../AP/CreditCard/Form/Panel", Model)
    </div>
</div>
@section scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    @Scripts.Render("~/jspage/inputcontrols")
}


