@model portal.Models.Views.AP.CreditCard.Import.ZionImportLinesViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}

@*<div class="panel panel-default"
     data-reloadurl="@Url.Action("ZionTable","APCreditCardImport")">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <h4 class="panel-title">Zion Transaction Imports</h4>
    </div>
    <div class="panel-body" id="ZionImportLinesViewModel">
        @Html.Partial("../AP/CreditCard/Upload/Form/Zion/Table", Model)
    </div>
</div>*@


<div class="panel panel-default"
     data-reloadurl="@Url.Action("ZionTable","APCreditCardImport")">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Zion Transaction Imports
        </div>
    </div>
    <div class="panel-body show" id="@panelId">
        @Html.Partial("../AP/CreditCard/Upload/Form/Zion/Table", Model)
    </div>
</div>