@model portal.Models.Views.AR.Customer.Forms.CustomerInfoViewModel

@{
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var formLayout = new TableLayoutModel(this);
    var entityKey = formLayout.TableKey;
    var formId = string.Format("form_{0}", Guid.NewGuid());

}

<form class="form-horizontal"
      id="@formId"
      data-entitykey="@entityKey"
      data-urlupdate="@Url.Action("Update", "CustomerInfo")"
      data-urlvalidate="@Url.Action("Validate", "CustomerInfo")">
    <div class="form-group has-feedback">
        <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
        </div>
    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CustGroupId, new { @id = Guid.NewGuid() })
    @Html.HiddenFor(m => m.CustomerId, new { @id = Guid.NewGuid() })
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.Address)
        @Html.EditorFor(m => m.Address2)
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.City)
        @Html.EditorFor(m => m.State)
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.Zip)
        @Html.EditorFor(m => m.Country)
    </div>
</form>
<script>
    $('#@formId').ready(function () { Form().init($('#@formId')); });
</script>