@model portal.Models.Views.Purchase.Request.PORequestSummaryViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var entityKey = tableLayout.TableKey;
}
    <tr data-entitykey="@entityKey">
        <td>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.POCo, new { @id = Guid.NewGuid() })
            @Html.HiddenFor(m => m.RequestId, new { @id = Guid.NewGuid() })
            <span class="label @Model.StatusClass">
                @Html.EditorFor(l => l.Status, new { DisplayOnly = true })
            </span>
        </td>
        <td>
            @Html.EditorFor(l => l.VendorName, new { DisplayOnly = true })
        </td>
        <td>
            @Html.EditorFor(l => l.PO, new { DisplayOnly = true })
        </td>
        <td>
            @Html.EditorFor(l => l.Cost, new { DisplayOnly = true })
        </td>
        <td>
            @Html.EditorFor(l => l.CreatedUser, new { DisplayOnly = true })
        </td>
        <td>
            <div class="pull-right btn-group">
                <button class="btn btn-success approveRow"
                        data-entitykey="@entityKey"
                        data-approvalurl="@Url.Action("Approve","PORequest")">
                    <i class="fa fa-thumbs-up"></i>
                </button>
                <button class="btn btn-danger rejectRow"
                        data-entitykey="@entityKey"
                        data-toggle="modal"
                        data-target="#rejectTicket">
                    <i class="fa fa-thumbs-down"></i>
                </button>
            </div>
        </td>
    </tr>