@model portal.Models.Views.DailyTicket.Form.JobTicketFormViewModel

@{
    ViewBag.Title = "Daily Job Ticket";
    if (ViewBag.LayOut != null)
    {
        Layout = ViewBag.LayOut;
    }
}
@section styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    @Styles.Render("~/csspage/inputcontrols")
}
@if (ViewBag.LayOut == null)
{
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "UserSummary")">Tickets</a></li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
    <h1 class="page-header">@ViewBag.Title </h1>
}
<div id="ticketPanel" class="validationContaner">
    @Html.Partial("../DT/Type/Job/PartialIndex", Model)
</div>
@Html.Partial("../DT/Reject/Form")

@section scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    @Scripts.Render("~/jspage/inputcontrols")
}
