@model  portal.Models.Views.Bid.Wizard.Sales.BidBoreLineListViewModel
@{
    ViewBag.TableRow = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    string tableKey = "";
    foreach (var prp in tableLayout.Properties)
    {
        if (prp.IsKey)
        {
            var myData = Model.GetType().GetProperty(prp.Property);
            var myVal = myData.GetValue(Model, null);
            if (tableKey != string.Empty)
            {
                tableKey += "&";
            }
            tableKey += prp.Property + "=" + myVal.ToString();
        }
    }
}

<table class="table"
       id="@tableId"
       data-urlcreate="@Url.Action("Add", "BidBoreLineSalesWizard")"
       data-urldelete="@Url.Action("Delete", "BidBoreLineSalesWizard")"
       data-urlupdate="@Url.Action("Update", "BidBoreLineSalesWizard")"
       data-urlvalidate="@Url.Action("Validate", "BidBoreLineSalesWizard")"
       data-tablekey="@tableKey">
    <thead>
        <tr class="">
            <th width="15%">@Html.LabelForRequired(model => model.List.FirstOrDefault().Description)</th>
            
            <th width="15%">@Html.LabelForRequired(model => model.List.FirstOrDefault().BoreTypeId)</th>
            <th width="10%">@Html.LabelForRequired(model => model.List.FirstOrDefault().Footage)</th>
            <th width="10%">@Html.LabelForRequired(model => model.List.FirstOrDefault().PipeSize)</th>
            <th width="10%">@Html.LabelForRequired(model => model.List.FirstOrDefault().RigCategoryId)</th>
            @if (!viewOnly)
            {
                <th width="15%">
                    <button class="btn btn-primary addRow pull-right">
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.List)
        {
            @Html.Partial("../BidWizard/Sales/BidBoreLine/TableRow", obj)
        }
    </tbody>
</table>
<script>
   
</script>