@model  portal.Models.Views.Bid.Wizard.Sales.PackageBoreLineListViewModel
@{
    ViewBag.TableRow = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    string tableKey = "";
    foreach (var prp in tableLayout.Properties)
    {
        if (prp.IsKey)
        {
            var myData = Model.GetType().GetProperty(prp.Property);
            var myVal = myData.GetValue(Model, null);
            if (tableKey != string.Empty)
            {
                tableKey += "&";
            }
            tableKey += prp.Property + "=" + myVal.ToString();
        }
    }
}

<table class="table"
       id="@tableId"
       data-urlcreate="@Url.Action("Add", "BidBoreLineSalesWizard")"
       data-urldelete="@Url.Action("Delete", "BidBoreLineSalesWizard")"
       data-urlupdate="@Url.Action("Update", "BidBoreLineSalesWizard")"
       data-urlvalidate="@Url.Action("Validate", "BidBoreLineSalesWizard")"
       data-tablekey="@tableKey">
    <thead>
        <tr class="">
            <th width="15%">@Html.LabelForRequired(model => model.List.FirstOrDefault().Description)</th>
            <th width="15%">@Html.LabelForRequired(model => model.List.FirstOrDefault().BoreTypeId)</th>
            <th width="10%">@Html.LabelForRequired(model => model.List.FirstOrDefault().Footage)</th>
            <th width="10%">@Html.LabelForRequired(model => model.List.FirstOrDefault().PipeSize)</th>
            <th width="10%">@Html.LabelForRequired(model => model.List.FirstOrDefault().RigCategoryId)</th>
            @if (!viewOnly)
            {
                <th width="15%">
                    <button class="btn btn-primary addRow pull-right">
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.List)
        {
            @Html.Partial("../BD/Bid/Wizard/Draft/Line/List/TableRow", obj)
        }
    </tbody>
</table>
<script>
    @*$('#@tableId').ready(function() {
        h = 43 * @(Model.List.Count);
        if (h > 600) {
            h = 600;
        }
        var table = $('#@tableId').DataTable({
            orderCellsTop: true,
            paging: false,
            autoWidth: true,
            ordering: true,
            keys: true,
            scrollY: h,
            columnDefs: [
                { targets: [5], orderable: false },
            ],
            fnInitComplete: function () {
                var setting = this;
                this.api().columns().every(function () {
                    addSearchRow(this, setting);
                });
            },
        });
        table.on('key-focus', function () {
            var data = table.cell({ focused: true }).data();
            var inputId = $(data).find('input').attr('id');
            if (inputId) {
                $('#' + inputId).select();
            }
            var inputId = $(data).find('select').attr('id');
            if (inputId) {
                $('#' + inputId).select();
            }
        });
        $('.dataTables_filter').hide();
    })*@

</script>
<script>
    $('#@tableId').ready(function () {
        $('#@tableId').arrowTable();
    })
</script>