@*@model portal.Models.Views.DailyTicket.DailyJobTaskViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = tableLayout.TableKey;
    string rowDelKey = tableLayout.TableKey;
    //foreach (var prp in tableLayout.Properties)
    //{
    //    if (prp.IsKey)
    //    {
    //        var myData = Model.GetType().GetProperty(prp.Property);
    //        var myVal = myData.GetValue(Model, null);
    //        if (rowKey != string.Empty)
    //        {
    //            rowKey += "&";
    //        }
    //        rowKey += prp.Property + "=" + myVal.ToString();
    //        if (prp.Property != "SeqId")
    //        {
    //            if (rowDelKey != string.Empty)
    //            {
    //                rowDelKey += "&";
    //            }
    //            rowDelKey += prp.Property + "=" + myVal.ToString();
    //        }
    //    }
    //}
    if (Model.Status == DB.DailyTicketStatusEnum.Processed)
    {
        viewOnly = true;
    }
}
<tr data-index="@Model.LineNum" data-entitykey="@entityKey">
    <td>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.EntityName, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.EntityKeyString, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.DTCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.TicketId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.LineNum, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.SeqId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PhaseId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.PhaseGroupId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.CostTypeId, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.Radius, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.BudgetCodeId, new { @id = Guid.NewGuid() })
        @Html.EditorFor(m => m.PhaseDescription, new { ViewOnly = true })
    </td>
    <td>
        @Html.EditorFor(m => m.Value, new { ViewOnly = (viewOnly ? !(Model.CostTypeId == 34) : viewOnly) })
    </td>
    <td>
        @Html.EditorFor(m => m.UnitofMeasure, new { DisplayOnly = true })
    </td>
    @if (!viewOnly)
    {
<td>
    <div class="btn-group pull-right">
        <button class="btn btn-primary commentRowBtn"
                style="@(String.IsNullOrEmpty(Model.Comments) ? "display: normal;" : "display: none;")"
                id="@("commentRowBtn_" + @Model.LineNum)"
                data-linenum="@Model.LineNum">
            <i class="fa fa-comment"></i>
        </button>
        <button class="btn btn-danger delRow"
                data-entitykey="@rowDelKey">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</td>

    }
</tr>*@