@model portal.Models.Views.Equipment.Forms.EquipmentAssignmentLogViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = "";
    ViewBag.TableRow = "True";

    ViewBag.DisplayOnly = true;
    entityKey  = tableLayout.TableKey;
}
<tr data-entitykey="@entityKey">
    <td>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.EMCo, new { @id = Guid.NewGuid() })
        @Html.HiddenFor(m => m.EquipmentId, new { @id = Guid.NewGuid() })
        @Html.EditorFor(m => m.SeqId)
    </td>
    <td>
        @Html.EditorFor(m => m.LoggedBy)
    </td>
    <td>
        @Html.EditorFor(m => m.LogDate)
    </td>
    <td>
        @Html.EditorFor(m => m.AssignmentType)
    </td>
    <td>
        @Html.EditorFor(m => m.FromId)
    </td>
    <td>
        @Html.EditorFor(m => m.ToId)
    </td>
</tr>