@model portal.Models.Views.JC.Industry.Form.IndustryFormViewModel

@{
    if (ViewBag.LayOut != null)
    {
        Layout = ViewBag.LayOut;
    }
}

@section styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    @Styles.Render("~/csspage/inputcontrols")
    <link href="~/Content/assets/plugins/dhtmlx/suite/custom.css" rel="stylesheet" />
}

@if (ViewBag.LayOut == null)
{
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = "" })">Home</a></li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
    <h1 class="page-header">@ViewBag.Title </h1>
}
@Html.Partial("../JC/Industry/Forms/PartialIndex", Model)

@section scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
    @Scripts.Render("~/jspage/inputcontrols")
    <script src="~/Content/assets/plugins/dhtmlx/suite/suite.js"></script>
}


