@model portal.Models.Views.SM.Request.Equipment.EquipmentListViewModel
@{
    ViewBag.TableRow = "True";
    ViewBag.DisplayOnly = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var tableLayout = new TableLayoutModel(this);
    var tableKey = tableLayout.TableKey;

}
<table class="table"
       id="@tableId"
       data-urlselect="@Url.Action("ServiceEquipmentPanel", "ServiceRequest")"
       data-dstselect="reviewPanel"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th>@Html.LabelForRequired(model => model.List.FirstOrDefault().EMCo)</th>
            <th >@Html.LabelForRequired(model => model.List.FirstOrDefault().EquipmentId)</th>
            <th>@Html.LabelForRequired(model => model.List.FirstOrDefault().EquipmentName)</th>
            <th>@Html.LabelForRequired(model => model.List.FirstOrDefault().FirstRequestDate)</th>
            <th>@Html.LabelForRequired(model => model.List.FirstOrDefault().RequestCount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            @Html.Partial("../SM/Request/Summary/Equipment/List/TableRow", item)
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        myTable = $('#@tableId').DataTable({
            autoWidth: true,
            pageLength: 25,
            paging: true,
            ordering: true,
            columnDefs: [
                { targets: [0], visible: false },
                ],
            fnInitComplete: function () {
                Table().init($('#@tableId'));
            },
        });
    });
</script>