@model portal.Models.Views.Bid.Wizard.Estimate.PackageListViewModel
@{
    var accordionGuid = Guid.NewGuid().ToString().Replace("-", "");
    accordionGuid = string.Concat(accordionGuid.Where(char.IsLetter));
}
<div class="row">
    <div class="col-12">
        <div id="@accordionGuid" class="card-accordion">
            <div class="panel-heading p-0">
                @foreach (var package in Model.List)
                {
                    ViewBag.ShowSoft = package.PackageProductionRates.List.Any(f => f.SoftRockProductionValue != null);
                    ViewBag.ShowMedium = package.PackageProductionRates.List.Any(f => f.MediumRockProductionValue != null);
                    ViewBag.ShowHard = package.PackageProductionRates.List.Any(f => f.HardRockProductionValue != null);
                    ViewBag.ShowVeryHard = package.PackageProductionRates.List.Any(f => f.VeryHardRockProductionValue != null);
                    <!-- begin card -->
                    <div class="card">
                        <div class="card-header bg-black text-white pointer-cursor collapsed " data-toggle="collapse" data-target="#collapse@(accordionGuid)@(package.PackageId)">
                            (@package.PackageId) - @package.Description 
                        </div>
                        <div id="collapse@(accordionGuid)@(package.PackageId)" class="collapse @(package.PackageId == Model.List.FirstOrDefault().PackageId ? "show" : "")" data-parent="#@accordionGuid">
                            <div class="card-body">
                                <div class="row">
                                    @*@Html.Partial("../BidPackageProductionRate/Index", package.PackageRates)*@
                                    <div class="col-xl-4">
                                        @Html.Partial("../BD/Bid/Package/DaySetup/Panel", package.DaySetup)
                                        @Html.Partial("../BD/Bid/Package/Production/List/Panel", package.PackageProductionRates)
                                    </div>
                                    <div class="col-4">
                                        @Html.Partial("../BD/Bid/Package/Cost/List/Panel", package.CostItems)
                                        @Html.Partial("../BD/Bid/Package/AllocatedCost/List/Panel", package.AllocatedCost)
                                    </div>
                                    <div class="col-4">
                                        @Html.Partial("../BD/Bid/Package/Rental/List/Panel", package.RentalItems)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                }
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        initPanels();
    });
</script>


