@model portal.Models.Views.Equipment.EquipmentListViewModel
@{
    //ViewBag.TableRow = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var tableLayout = new TableLayoutModel(this);
    string tableKey = tableLayout.TableKey;
}

<table class="table"
       id="@tableId"
       data-tablekey="@tableKey"
       >
    <thead>
        <tr>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().EMCo)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().EquipmentId)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().Description)</th>
            <th data-datatable-filter-type="multiselect">@Html.LabelForRequired(model => model.List.FirstOrDefault().Status)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            @Html.Partial("../EM/Equipment/Summary/BasicList/TableRow", item)
        }
    </tbody>
</table>

<script>
    $('#@tableId').ready(function () {
        var table = $('#@tableId').DataTable({
            orderCellsTop: true,
            paging: true,
            pageLength: 10,
            autoWidth:false,
            ordering: true,
            columnDefs: [
                { targets: [0], visible: false },
            ],
            fnInitComplete: function () {
                Table().init($('#@tableId'));
            },
        });
    })

</script>