@model portal.Models.Views.Web.ErrorLogViewModel

@{
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var formLayout = new TableLayoutModel(this);
    var entityKey = formLayout.TableKey;
    var formId = string.Format("form_{0}", Guid.NewGuid());
}

<form class="form-horizontal"
      id="@formId"
      data-entitykey="@entityKey"
      data-urlupdate="@Url.Action("FormUpdate", "ErrorLog", routeValues: new { Area = "" })">
    <div class="row justify-content-md-center">
        <div class=" col-xl-8 ">
            <div class="form-group has-feedback">
                <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ErrorId, new { @id = Guid.NewGuid() })
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.StatusCode, new { ViewOnly = true })
        @if (User.HasAccess("ErrorLog", "Index"))
        {
            @Html.EditorFor(m => m.Fixed)

        }
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.Controller, new { ViewOnly = true })
        @Html.EditorFor(m => m.Action, new { ViewOnly = true })
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.UrlRef, new { ViewOnly = true })
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.Parameters, new { ViewOnly = true })
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.ExceptionMessage, new { ViewOnly = true })
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.StackTrace, new { ViewOnly = true })
    </div>
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.Source, new { ViewOnly = true })
    </div>
</form>
<script>
    $('#@formId').ready(function () { Form().init($('#@formId')); });
</script>
