@model portal.Areas.Project.Models.Bid.Package.ProductionRateListViewModel
@{
    ViewBag.TableRow = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var tableLayout = new TableLayoutModel(this);
    string tableKey = tableLayout.TableKey;

    ViewBag.ShowSoft = Model.List.Any(f => f.SoftRockProductionValue != null);
    ViewBag.ShowMedium = Model.List.Any(f => f.MediumRockProductionValue != null);
    ViewBag.ShowHard = Model.List.Any(f => f.HardRockProductionValue != null);
    ViewBag.ShowVeryHard = Model.List.Any(f => f.VeryHardRockProductionValue != null);

    var ratePerc = 35;
    var dataColCnt = 1;
    dataColCnt += ViewBag.ShowSoft ? 1 : 0;
    dataColCnt += ViewBag.ShowMedium ? 1 : 0;
    dataColCnt += ViewBag.ShowHard ? 1 : 0;
    dataColCnt += ViewBag.ShowVeryHard ? 1 : 0;
}

<table class="table"
       id="@tableId"
       data-urlcreate="@Url.Action("PackageProductionRateAdd", "Bid")"
       data-urldelete="@Url.Action("PackageProductionRateDelete", "Bid")"
       data-urlupdate="@Url.Action("PackageProductionRateUpdate", "Bid")"
       data-urlvalidate="@Url.Action("PackageProductionRateValidate", "Bid")"
       data-tablekey="@tableKey">
    <thead>
        <tr class="">
            <th width="18%">@Html.LabelForRequired(model => model.List.FirstOrDefault().PhaseId)</th>
            <th width="22%">@Html.LabelForRequired(model => model.List.FirstOrDefault().BoreSize)</th>
            <th width="25%">@Html.LabelForRequired(model => model.List.FirstOrDefault().CalcType)</th>
            <th width="@(ratePerc/dataColCnt)%">@Html.LabelForRequired(model => model.List.FirstOrDefault().DirtProductionValue)</th>
            <th width="@(ratePerc/dataColCnt)%" style="@(ViewBag.ShowSoft ? "" : "display:none")">@Html.LabelForRequired(model => model.List.FirstOrDefault().SoftRockProductionValue)</th>
            <th width="@(ratePerc/dataColCnt)%" style="@(ViewBag.ShowMedium ? "" : "display:none")">@Html.LabelForRequired(model => model.List.FirstOrDefault().MediumRockProductionValue)</th>
            <th width="@(ratePerc/dataColCnt)%" style="@(ViewBag.ShowHard ? "" : "display:none")">@Html.LabelForRequired(model => model.List.FirstOrDefault().HardRockProductionValue)</th>
            <th width="@(ratePerc/dataColCnt)%" style="@(ViewBag.ShowVeryHard ? "" : "display:none")">@Html.LabelForRequired(model => model.List.FirstOrDefault().VeryHardRockProductionValue)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.List)
        {
            @Html.Partial("Forms/Package/DefaultSetup/ProductionRate/_TableRow", obj)
        }
    </tbody>
</table>

<script>
    $('#@tableId').ready(function () {
        Table().init($('#@tableId'));
        function handleCalcTypeFormat(elem) {
            val = $(elem).val();
            if (val == "1") {
                $(elem).removeClass("bg-green-transparent-2");
                $(elem).addClass("bg-blue-transparent-2");
            }
            if (val == "0") {
                $(elem).removeClass("bg-blue-transparent-2");
                $(elem).addClass("bg-green-transparent-2");
            }
        }

        $('#@tableId').find('select.CalcType').each(function () {
            handleCalcTypeFormat(this);
        });

        $('#@tableId').on('change', 'select.CalcType', function () {
            handleCalcTypeFormat(this);
        });
    });
</script>