@model portal.Areas.SM.Models.Request.RequestLineListViewModel
@{
    ViewBag.TableRow = "True";
    ViewBag.DisplayOnly = "True";
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var tableLayout = new TableLayoutModel(this);
    var tableKey = tableLayout.TableKey;

}
<table class="table"
       id="@tableId"
       data-urlselect="@Url.Action("RequestPanel", "Request", routeValues: new { Area = ""})"
       data-dstselect="reviewPanel"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().EMCo)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().EquipmentId)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().EquipmentName)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().RequestDate)</th>
            <th data-datatable-filter-type="none">@Html.LabelForRequired(model => model.List.FirstOrDefault().RequestByName)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            @Html.Partial("../SM/Equipment/Summary/List/TableRow", item)
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        myTable = $('#@tableId').DataTable({
            autoWidth: true,
            pageLength: 25,
            paging: true,
            ordering: true,
            order: [
                [1, "asc"]
            ],
            columnDefs: [
                { targets: [0], visible: false },
                ],
            fnInitComplete: function () {
                Table().init($('#@tableId'));
            },
        });
    });
</script>