@model portal.Models.Views.HR.Request.Term.TermRequestListViewModel

@{
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    string tableKey = tableLayout.TableKey;
    ViewBag.TableRow = "True";

}

@Html.AntiForgeryToken()
<table class="table "
       id="@tableId"
       data-urlselect="@Url.Action("TermPanel", "HRTermRequestForm")"
       data-dstselect="reviewPanel"
       data-dstselectvalidate="false"
       data-tablekey="@tableKey">
    <thead>
        <tr>
            <th data-datatable-filter-type="none" >@Html.LabelForRequired(model => model.List.FirstOrDefault().HRCo)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().RequestId)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().EmployeeName)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().RequestedOn)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().RequestedBy)</th>
            <th data-datatable-filter-type="input">@Html.LabelForRequired(model => model.List.FirstOrDefault().Status)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.List)
        {
            @Html.Partial("../HR/Request/Term/Reports/User/TableRow", obj)
        }
    </tbody>
</table>

<script>
    $('#@tableId').ready(function () {
        var itemCnt = @(Model.List.Count());
        h = tableHeight($('#@tableId'), itemCnt, 42.4) - 50;
        var table = $('#@tableId').DataTable({
            paging: false,
            autoWidth: true,
            ordering: true,
            scrollCollapse: true,
            scrollY: h,
            columnDefs: [
                { targets: [0], visible: false },
            ],
            fnInitComplete: function () {
                var setting = this;
                this.api().columns().every(function () {
                    addSearchRow(this, setting);
                });
            },
        });
        $('.dataTables_filter').hide();
    })
</script>