@model portal.Models.SampleViewModel
@{
//var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
//var formLayout = new FormLayoutModel(this);
//var formId = string.Format("form_{0}", Guid.NewGuid());
//var id = formId.ToString().Replace("-", "");
}


@*@Html.FormFor(m => m)*@


@*<form class="form-horizontal"
      id="@formId"
      data-urlupdate="@Url.Action("Update", "Sample")"
      data-urlvalidate="@Url.Action("Validate", "Sample")"
      data-postupdate="PostUpdate@(id)">
    @Html.AntiForgeryToken()
    <div class="row justify-content-md-center">
        <div class=" col-xl-8 ">
            <div class="form-group has-feedback">
                <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Id, new { @id = Guid.NewGuid() })

    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.SomeString)
        @Html.EditorFor(m => m.SomeDateTime)
    </div>
</form>*@

@*<script>
    $('#@formId').ready(function () {
        Form().init('#@formId');
    });
    function PostUpdate@(id)(elem) {
        //console.log('postUpdate');

    }
</script>*@
