@model  portal.Areas.HumanResource.Models.Resource.ResourceViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var entityKey = "";
    ViewBag.TableRow = "True";
    ViewBag.DisplayOnly = "True";
    entityKey  = tableLayout.TableKey;
}
<tr data-entitykey="@entityKey">
    <td>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.HRCo, new { @id = Guid.NewGuid() })
        @Html.EditorFor(m => m.ResourceId)
    </td>
    <td> @Html.EditorFor(m => m.Name) </td>
</tr>