@model portal.Areas.Project.Models.Bid.TrackerViewModel
@{
    var tableLayout = new TableLayoutModel(this);
    var entityKey = tableLayout.TableKey;
}
<tr data-entitykey="@entityKey">
    <td>
        <span class="label @Model.StatusClass">
            @Html.EditorFor(l => l.Status, new { DisplayOnly = true })
        </span>
    </td>
    <td data-order="@Model.DueDate.ToString("yyyy-MM-dd")">
        @Html.EditorFor(l => l.DueDate, new { DisplayOnly = true })
    </td>
    <td data-order="@Model.BidDate.ToString("yyyy-MM-dd")">
        @Html.EditorFor(l => l.BidDate, new { DisplayOnly = true })
    </td>
    <td class="hidden-xs hidden-sm">
        @Html.EditorFor(l => l.FirmName, new { DisplayOnly = true })
    </td>
    <td>
        @Html.EditorFor(l => l.Description, new { DisplayOnly = true })
    </td>
    <td class="hidden-xs hidden-sm">
        @Html.EditorFor(l => l.CreatedUser, new { DisplayOnly = true })
    </td>
    <td>
        <div class="pull-right button-group">
            <a class='btn btn-primary' href='@Url.Action("Index", "Bid", new { Area = "Project", bdco = @Model.BDCo, BidId = @Model.BidId  })' target="_blank"><i class='fas fa-pencil'></i></a>
        </div>
    </td>
</tr>