@model portal.Models.Views.SM.Request.Equipment.Forms.InfoViewModel

@{
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    var formLayout = new TableLayoutModel(this);
    var entityKey = formLayout.TableKey;
    var formId = string.Format("form_{0}", Guid.NewGuid());
}

<form class="form-horizontal"
      id="@formId"
      data-entitykey="@entityKey"
      data-urlupdate="@Url.Action("EquipmentInfoUpdate", "ServiceRequest")"
      data-urlvalidate="@Url.Action("EquipmentInfoValidate", "ServiceRequest")">
    <div class="form-group has-feedback">
        <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
        </div>
    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EMCo, new { @id = Guid.NewGuid() })
    @Html.HiddenFor(m => m.EquipmentId, new { @id = Guid.NewGuid() })
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.Info.EquipmentId, new { ViewOnly = true })
        @Html.EditorFor(m => m.Info.Description, new { ViewOnly = true })
    </div>
    <div class="row">
        @if (Model.Meter.MeterType == DB.EMMeterTypeEnum.Both || Model.Meter.MeterType == DB.EMMeterTypeEnum.Hours)
        {
            <div class="col-6">
                <div class="form-group has-feedback row">
                    @Html.EditorFor(m => m.Meter.HourDate, new { ViewOnly = true })
                    @Html.EditorFor(m => m.Meter.HourReading, new { ViewOnly = true })

                </div>
            </div>
        }
        @if (Model.Meter.MeterType == DB.EMMeterTypeEnum.Both || Model.Meter.MeterType == DB.EMMeterTypeEnum.Odometer)
        {
            <div class="col-6">
                <div class="form-group has-feedback row">
                    @Html.EditorFor(m => m.Meter.OdoDate, new { ViewOnly = true })
                    @Html.EditorFor(m => m.Meter.OdoReading, new { ViewOnly = true })

                </div>
            </div>
        }
    </div>
</form>
<script>
    Form().init('#@formId');
</script>