@model List<DB.Infrastructure.ViewPointDB.Data.EMAudit>
@{
    var guid = string.Format("guid_{0}", Guid.NewGuid());
}

<!-- begin panel -->
<div class="panel panel-inverse panel-with-tabs" id="@guid" data-sortable-id="@guid">
    <!-- begin panel-heading -->
    <div class="panel-heading p-0">
        <div class="panel-heading-btn m-r-10 m-t-10">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
        <!-- begin nav-tabs -->
        <div class="tab-overflow">
            <ul class="nav nav-tabs nav-tabs-inverse">
                <li class="nav-item prev-button"><a href="javascript:;" data-click="prev-tab" class="nav-link text-success"><i class="fa fa-arrow-left"></i></a></li>
                @{
                    var listIdx = 0;
                }
                @foreach (var audit in Model.OrderByDescending(o => o.CreatedOn).ToList())
                {
                    if (audit.ParmCrewId != null)
                    {
                        <li class="nav-item @(listIdx == 0 ? " " : "")"><a href="#H_@audit.AuditId" id="N_@audit.AuditId" data-emco="@audit.EMCo" data-auditid="@audit.AuditId" data-toggle="tab" class="nav-link sub-tab">@( audit.Description)<br />@audit.CreatedOn.ToShortDateString() </a></li>
                    }

                    if (audit.ParmEmployeeId != null)
                    {
                        <li class="nav-item @(listIdx == 0 ? " " : "")"><a href="#H_@audit.AuditId" id="N_@audit.AuditId" data-emco="@audit.EMCo" data-auditid="@audit.AuditId" data-toggle="tab" class="nav-link sub-tab">@( audit.Description)<br />@audit.CreatedOn.ToShortDateString()</a></li>
                    }
                    listIdx++;
                }
                <li class="nav-item next-button"><a href="javascript:;" data-click="next-tab" class="nav-link text-success"><i class="fa fa-arrow-right"></i></a></li>
            </ul>
        </div>
        <!-- end nav-tabs -->
    </div>
    <!-- end panel-heading -->
    <!-- begin tab-content -->
    <!-- end tab-content -->
    <div class="tab-content p-1" style=" overflow: unset;">
        <!-- begin tab-pane -->
        @foreach (var ticket in Model)
        {
            <div class="tab-pane" data-loaded="False" id="H_@ticket.AuditId">

            </div>
        }
        <!-- end tab-pane -->
    </div>
</div>

<!-- end panel -->
<script>

    $('#@guid').ready(function () {
        $('#@guid .nav-link').on('click', function () {
            LoadSubForm(this);
        });
        $('#@guid .sub-tab').first().click();
    });

    function LoadSubForm(elem) {
        var dstId = $(elem).attr('href');
        var dst = $(dstId);
        if (dst.data('loaded')==="False") {
            var emco = $(elem).data('emco');
            var auditId = $(elem).data('auditid');

            var spinnerHtml = '<div style="height:100px;"><span class="spinner spinner-small"></span></div>';
            $(dst).html(spinnerHtml);
            var url = "@Url.Action("Form", "EMAuditForm")";
            data = {
                emco: emco,
                auditId: auditId
            };

            $.ajax({
                type: "Get",
                dataType: "html",
                url: url,
                data: data,
                //async: true,
                success: function (res) {
                    var html = '<div class="subFormPanel">' + res + '</div>';
                    dst.html(html);
                    dst.data('loaded', 'True');
                }
            });
        }
    }
</script>